<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>platoon content</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/modify.css">
    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">

    <link rel="stylesheet" href="../../static/admin_css/minmin.css">

    <!-- pagination css -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> -->


</head>

<body>

    {% include 'activities/admin_nav.html' %} {% include 'activities/loader.html' %}

    <section class="home-section">


        <div class="heads">

            <a href="/merits">
                <h1 class="text"><i class='bx bxs-dashboard'></i>MERITS &nbsp;>&nbsp;</h1>
            </a>


            <h1 class="text"  style="color: rgb(0, 248, 0);"><i class='bx bx-intersect'></i>{{getSection}}
            </h1>

        </div>
        <div class="bg">

            <div class="inside">


                <div class="table-responsive">
                    <div class="he">

                        <div class="ada">
                            <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold;" id="mega"><i class='bx bx-subdirectory-right'></i> Merits Equity per Training Day</h1>
                            <!-- gshshsfhfs -->
                            {% for s in first %}
                            <p id="total" style="display: none;">{{s.items}}</p>
                            {% endfor %}
                        </div>

                        <div class="adda">
                            <form action="{% url 'activities:download' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{getSection}}" name="cate">
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="dl"><i class='bx bxs-download' ></i> Download List</button>
                                <!-- <a href="{% url 'activities:add_students' %}" class="btn btn-success" style="width: 100%;" target="_blank">Add Student</a> -->
                            </form>
                            <form action="{% url 'activities:add_students' %}" method="POST" target="_new">
                                {% csrf_token %}
                                <input type="hidden" value="{{getSection}}" name="platoon">
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="adds"><i class='bx bx-plus'></i> Export</button>
                                <!-- <a href="{% url 'activities:add_students' %}" class="btn btn-success" style="width: 100%;" target="_blank">Add Student</a> -->
                            </form>




                        </div>


                    </div>
                    <br>
                    <form action="{% url 'activities:save_merits' %}" method="POST">
                        {% csrf_token %}
                        <table id="tblProducts" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID Number</th>
                                    <th>Full name</th>
                                    <th>TD 1</th>
                                    <th>TD 2</th>
                                    <th>TD 3</th>
                                    <th>TD 4</th>
                                    <th>TD 5</th>
                                    <th>TD 6</th>
                                    <th>TD 7</th>
                                    <th>TD 8</th>
                                    <th>TD 9</th>
                                    <th>TD 10</th>
                                    <th>TD 11</th>
                                    <th>TD 12</th>
                                    <th>TD 13</th>
                                    <th>TD 14</th>
                                    <th>TD 15</th>
                                    <th class="result2">Total Demerits</th>
                                    <!-- <th class="result" id="result">Merits Left</th> -->

                                    <th class="result">Equivalent Over 30%</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for s in content4 %}{% if s.first_sem == 'ENROLLED' %}
                                <tr>
                                    <td>{{s.idnumber}} <input type="hidden" value="{{s.id}}" name="ids"></td>
                                    <td>{{s.lastname}} {{s.firstname}}</td>
                                    <td class="dems1">{{s.TD1_dem}}</td>
                                    <td class="dems1">{{s.TD2_dem}}</td>
                                    <td class="dems1">{{s.TD3_dem}}</td>
                                    <td class="dems1">{{s.TD4_dem}}</td>
                                    <td class="dems1">{{s.TD5_dem}}</td>
                                    <td class="dems1">{{s.TD6_dem}}</td>
                                    <td class="dems1">{{s.TD7_dem}}</td>
                                    <td class="dems1">{{s.TD8_dem}}</td>
                                    <td class="dems1">{{s.TD9_dem}}</td>
                                    <td class="dems1">{{s.TD10_dem}}</td>
                                    <td class="dems1">{{s.TD11_dem}}</td>
                                    <td class="dems1">{{s.TD12_dem}}</td>
                                    <td class="dems1">{{s.TD13_dem}}</td>
                                    <td class="dems1">{{s.TD14_dem}}</td>
                                    <td class="dems1">{{s.TD15_dem}}</td>
                                    <td><input class="total_dem form-control" type="text" name="total_dem" id="" readonly></td>
                                    <!-- <td class="data">{{s.first_merits}}</td> -->
                                    <td><input type="text" name="equivalent_merits" class="results form-control" value="{{s.equivalent_merits}}" readonly></td>
                                </tr>
                                {% elif s.second_sem == 'ENROLLED' %}
                                <tr>

                                    <td>{{s.idnumber}} <input type="hidden" value="{{s.id}}" name="ids2"></td>
                                    <td>{{s.lastname}} {{s.firstname}}</td>
                                    <td class="dems">{{s.TD1_2_dem}}</td>
                                    <td class="dems">{{s.TD2_2_dem}}</td>
                                    <td class="dems">{{s.TD3_2_dem}}</td>
                                    <td class="dems">{{s.TD4_2_dem}}</td>
                                    <td class="dems">{{s.TD5_2_dem}}</td>
                                    <td class="dems">{{s.TD6_2_dem}}</td>
                                    <td class="dems">{{s.TD7_2_dem}}</td>
                                    <td class="dems">{{s.TD8_2_dem}}</td>
                                    <td class="dems">{{s.TD9_2_dem}}</td>
                                    <td class="dems">{{s.TD10_2_dem}}</td>
                                    <td class="dems">{{s.TD11_2_dem}}</td>
                                    <td class="dems">{{s.TD12_2_dem}}</td>
                                    <td class="dems">{{s.TD13_2_dem}}</td>
                                    <td class="dems">{{s.TD14_2_dem}}</td>
                                    <td class="dems">{{s.TD15_2_dem}}</td>
                                    <td><input class="total_dem2 form-control" type="text" name="total_dem2" id="" readonly></td>
                                    <!-- <td class="data2">{{s.second_merits}}</td> -->
                                    <td><input type="text" name="equivalent_merits2" class="results2 form-control" value="{{s.equivalent_merits2}}" readonly></td>


                                </tr>
                                {% endif %} {% endfor %}

                            </tbody>

                        </table><br>
                        <button class="btn btn-success" type="submit" style="width: 100%;" id="dl"><i class="fa-solid fa-arrows-rotate"></i> Update Record</button>
                    </form>
                </div>
            </div>
            <br>


        </div>
    </section>




    <!-- for editing tables -->




    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        {% for msg in messages %}
        Swal.fire({
            icon: 'success',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>  



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $('tr').each(function() {
                var results = 0;
                var results2 = 0;
                var final1 = 0;
                var final = 0;
                $(this).find('.dems1').each(function() {
                    var marks = $(this).text();
                    if (marks.length !== 0) {
                        results += parseFloat(marks);
                        final1 = (100 - results) * 0.30;

                    }
                });
                $(this).find('.dems').each(function() {
                    var marks = $(this).text();
                    if (marks.length !== 0) {
                        results2 += parseFloat(marks);
                        final = (100 - results2) * 0.30;

                    }
                });
                console.log(results)

                $(this).find('.total_dem2').val(results2.toFixed(2));
                $(this).find('.results2').val(final.toFixed(2));

                $(this).find('.results').val(final1.toFixed(2));
                $(this).find('.total_dem').val(results.toFixed(2));



            })
        });
    </script>

    <script src="../../static/js/pag.js"></script>
    <script src="../../static/js/datbot.js"></script>
    <script src="../../static/js/dat.js"></script>
    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>

    {% comment %}
    <script>
        document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                    "body").style.visibility = "hidden";
                document.querySelector(
                    "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                    "#loader").style.display = "none";
                document.querySelector(
                    "body").style.visibility = "visible";
            }
        };
    </script> {% endcomment %}

</body>

</html>