<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/admin_css/admin_dashboard.css">
    <link rel="icon" href="../../static/images/tup.png">
    <title>ADMIN DASHBOARD</title>
    <!-- pagination css -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <!-- MODAL FOR EDIT ANNOUNCEMENTS -->


    <!-- eof     MODAL FOR EDIT ANNOUNCEMENTS -->

    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-home'></i> NSTP SYSTEM ADMIN</h1><br>
        </div><br>
        <div class="bg">

            <div class="container-fluid">
                <div class="stats">
                    <div class="cards" id="blue">
                        <div class="inside1">
                            <div class="left">
                                <h1>{{active}}</h1>
                                <p>Active Students</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/admin_staff">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>
                    <br>

                    <div class="cards" id="red">
                        <div class="inside1">
                            <div class="left">
                                <h1>{{pending}}</h1>
                                <p>Pending Enrollees</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/admin_pending">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>
                    <br>


                    <div class="cards" id="yellow">
                        <div class="inside1">
                            <div class="left">
                                {% for s in sy %}
                                <h1>{{s.years}}</h1>
                                {% endfor %}
                                <p>School Year</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/school_years">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>

                    <br>
                    <div class="cards" id="green">
                        <div class="inside1">
                            <div class="left">
                                <h1>8</h1>
                                <p>Total Course</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="#">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>


                </div>

            </div>


            <div class="inside2">
                <div class="hes">
                    <br>
                    <p1 style="margin-left: 10px; color:#838383; font-style:italic;" id="creates">Create Custom and General Announcements</p1>&nbsp;
                    <h1 style="margin-left: 10px; font-size:20px; color:#000000" id="mega">Create Announcements<i class='bx bxs-megaphone' style="color: #c21515;"></i></h1><br>
                    <div class="announce">
                        <form action="{% url 'activities:create_announcement' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">

                                <label for="exampleFormControlInput1" style="font-size:14px;">Target Audience</label>
                                <select class="form-control" name="assign">
                                    <option value="ALL">ALL</option>
                                    {% for s in audience %}
                                    <option value="{{s.section_created}}">{{s.section_created}}</option>
                                    {% endfor %}

                                </select>

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1" style="font-size:14px;">Subject</label>
                                <input type="text" class="form-control" name="subject" placeholder="Subject" id="subject" required style="font-size:12px;">

                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1" style="font-size:14px;">Content</label>
                                <textarea class="form-control" name="content" id="content" placeholder="Content" required style="font-size:12px;"></textarea>

                            </div><br>

                            <button type="submit" class="btn btn-success" id="post"><i class='bx bx-cloud-upload' ></i> Post</button>
                        </form>
                    </div>

                </div>


            </div>

            {% comment %} announcements list {% endcomment %}
            <div class="inside2">
                <div class="hes">
                    <br>
                    <p1 style="margin-left: 10px; color:#838383; font-style:italic;" id="creates">List of All Announcements</p1>&nbsp;
                    <h1 style="margin-left: 10px; font-size:20px; color:#000000" id="mega">Announcements List<i class='bx bx-list-ol' style="color: #c21515;"></i></h1><br>
                    <div class="announce">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-bordered table-hover ">
                                <thead class="thead">
                                    <tr>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Target Audience</th>
                                        <th scope="col">Date Posted</th>
                                        <th scope="col">Content</th>

                                        <th scope="col">Edit</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in ann %}
                                    <tr>
                                        <form action="{% url 'activities:edit_announcement' s.id %}" method="POST">
                                            {% csrf_token %}

                                            <td>{{s.subject}}</td>
                                            <td>{{s.assign}}</td>
                                            <td id="posted"> <i class='bx bx-calendar'></i> {{s.date_posted}}</td>
                                            <td contenteditable="True" style="width: 40%;">
                                                <textarea type="text" style="width: 100%; height:100%;" name="content">{{s.content}}</textarea>
                                            </td>

                                            <td style="justify-content:space-between;  ">

                                                <input type="hidden" value="{{s.id}}" name="ID">
                                                <button type="submit" class="btn btn-success" title="Edit"><i class='bx bx-save' ></i> Save</button>


                                                <a href="/delete_announcement/{{s.id}}" class="btn btn-danger" title="Edit" id="rights" style="float: right;"><i class='bx bx-trash'></i> Delete</a>

                                            </td>
                                        </form>


                                    </tr>

                                    {% empty %}
                                    <h1 style="color: red;">NO ANNOUNCEMENTS AVAILABLE!</h1>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>


            </div>

        </div>
    </section>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').dataTable();
        });
    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        { %
            for msg in messages %
        }
        Swal.fire({
            icon: '{{msg.icon}}',
            text: '{{ msg }}'
        }) { % endfor %
        }
    </script>

    <script>
        $('.btn-danger').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    location.href = self.attr('href')
                }
            })
        })
    </script>


</body>

</html>