<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/admin_css/admin_dashboard.css">
    <link rel="icon" href="../../static/images/tup.png">
    <title>ADMIN DASHBOARD</title>
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-home'></i> NSTP SYSTEM ADMIN</h1><br>
        </div>
        <div class="bg">
            <div class="container-fluid">
                <div class="stats">
                    <div class="cards" id="blue">
                        <div class="inside1">
                            <div class="left">
                                <h1>{{active}}</h1>
                                <p>Active Students</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/admin_staff">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>
                    <br>

                    <div class="cards" id="red">
                        <div class="inside1">
                            <div class="left">
                                <h1>{{pending}}</h1>
                                <p>Pending Enrollees</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/admin_pending">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>
                    <br>


                    <div class="cards" id="yellow">
                        <div class="inside1">
                            <div class="left">
                                {% for s in sy %}
                                <h1>{{s.years}}</h1>
                                {% endfor %}
                                <p>School Year</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/school_years">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>

                    <br>
                    <div class="cards" id="green">
                        <div class="inside1">
                            <div class="left">
                                <h1>8</h1>
                                <p>Total Course</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="#">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>


                </div>

            </div>
            {% for a in active_users %}
            <h1>{{a.last_login}}</h1>
            {% endfor %}


            <!-- end of statistics -->

        </div>
    </section>

</body>

</html>