<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>staff navbar</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">
    <script src="https://kit.fontawesome.com/3e1139830b.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">

                    <a href="#" style="justify-content:space-between;">
                        <i class="fa-solid fa-user"></i> {% if user.is_authenticated %}
                        <span>{{user.first_name}} {{user.last_name}}</span> {% endif %}
                    </a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                        <!-- {% for s in staff %}<a href="#">{{s.firstname}} {{s.lastname}}</a> {% endfor %} -->
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="../../static/images/samples2.png" alt="User picture">
                    </div>

                </div>
                <!-- sidebar-header -->
                <!-- <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
<i class="fa fa-search" aria-hidden="true"></i>
</span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- sidebar-search -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdowns">
                            <a href="/admin_dashboard">
                                <i class="fa fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                                <!-- <span class="badge badge-pill badge-warning">New</span> -->
                            </a>
                            <!-- <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Dashboard 1
                                            <span class="badge badge-pill badge-success">Pro</span>
                                            </a>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Dashboard 3</a>
                                    </li>
                                </ul>
                            </div> -->
                        </li>
                        {% if request.user.is_superuser %}
                        <li class="sidebar-dropdowns">
                            <a href="/school_years">
                                <i class="fa-sharp fa-solid fa-address-card"></i>
                                <span>School Year</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdowns">
                            <a href="/staffs">
                                <i class="fa-solid fa-users-gear"></i>
                                <span>NSTP Staff</span>
                            </a>

                        </li>
                        {% else %} {% endif %}
                        <hr>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-hourglass-half"></i>
                                <span>Pending Enrollees</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/admin_pending">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cwts_admin_pending">CWTS</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>Enrolled Students</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/ro_enrolled">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cw_enrolled">CWTS</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-minus"></i>
                                <span>Declined Enrollees</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/admin_rejected">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cwts_admin_rejected">CWTS</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-bars-progress"></i>
                                <span>Manage Sections</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/manage_section">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/manage_cwts_section">CWTS</a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-circle-minus"></i>
                                <span>Dropped Students</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/rotc_dropped">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cwts_dropped">CWTS</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-clipboard"></i>
                                <span>Attendance</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/sample_attendance">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cwts_attendance">CWTS</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-calculator"></i>
                                <span>Manage Grades</span>
                                <span class="badge badge-pill badge-success"></span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/attendance_tab">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cwts_course_evaluation">CWTS</a>
                                    </li>
                                    <!-- <li>
                                        <a href="/merits">Merits</a>
                                    </li>
                                    <li>
                                        <a href="/midterms">Midterm Exam</a>
                                    </li>
                                    <li>
                                        <a href="/finals_">Final Exam</a>
                                    </li>
                                    <li>
                                        <a href="/final_grade">Overall Grade</a>
                                    </li> -->
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-calculator"></i>
                                <span>Certification</span>
                                <span class="badge badge-pill badge-success"></span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/cert_page">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cwts_cert_page">CWTS</a>
                                    </li>
                                    <!-- <li>
                                        <a href="/merits">Merits</a>
                                    </li>
                                    <li>
                                        <a href="/midterms">Midterm Exam</a>
                                    </li>
                                    <li>
                                        <a href="/finals_">Final Exam</a>
                                    </li>
                                    <li>
                                        <a href="/final_grade">Overall Grade</a>
                                    </li> -->
                                </ul>
                            </div>
                        </li>
                        <!-- <li>
                            <a href="/cert_page">
                                <i class="fa-solid fa-certificate"></i>
                                <span>Certification</span>
                            </a>
                        </li> -->
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-user-graduate"></i>
                                <span>Course Materials</span>
                                <span class="badge badge-pill badge-success"></span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/file_upload_index">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cwts_file_upload">CWTS</a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa-solid fa-user-graduate"></i>
                                <span>Alumni</span>
                                <span class="badge badge-pill badge-success"></span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/rotc_alumni">ROTC</a>
                                    </li>
                                    <li>
                                        <a href="/cwts_alumni">CWTS</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu -->
            </div>
            <!-- sidebar-content -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="https://mail.google.com/" target="_blank">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="/logout_student">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper -->

        <section>


        </section>
    </div>
    <!-- page-content" -->

    <!-- page-wrapper -->
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
    <script>
        $(".sidebar-dropdown > a").click(function() {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                .parent()
                .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });
        $("#close-sidebar").click(function() {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function() {
            $(".page-wrapper").addClass("toggled");
        });
    </script>
</body>

</html>