<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pending</title>
    <link rel="stylesheet" href="../../static/admin_css/admin_pending.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-time'></i> PENDING ENROLLEES</h1><br>
        </div>

        <div class="bg">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/admin_staff">Officially Enrolled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin_pending">Pending Enrollees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <div class="table-responsive">


                <table class="table table-bordered" id="myTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID Number</th>
                            <th scope="col">Full name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Profile picture</th>
                            <th scope="col">Course</th>
                            <th scope="col">NSTP Field</th>
                            <th scope="col">View Profile</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in pendings %}
                        <tr>

                            <th scope="row">

                                {{s.idnumber}}

                            </th>
                            <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}</td>
                            <td>{{s.email}}</td>
                            <td id="profile">
                                <a href="{{s.picture.url}}" target="_blank" title="Click to view picture">
                                    <img src="{{s.picture.url}}">
                                </a>
                            </td>
                            <td>{{s.section}}</td>
                            <td>{{s.field}}</td>
                            <td class="tar">
                                <a href="{% url 'activities:admin_view_profile' s.id %}" target="_blank" title="Click to view profile">
                                   View Profile
                                </a>

                            </td>
                            <!-- formsssssss -->

                            <td class="actions">
                                <div class="ehe">
                                    <form action="{% url 'activities:approve' s.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="getID" value="{{s.id}}"><button type="submit" class="approve"><i class='bx bx-check'></i>  Approve</button>
                                    </form>
                                </div>
                                <div class="ehe">
                                    <form action="{% url 'activities:decline' s.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="getID2" value="{{s.id}}"><button type="submit" class="decline"><i class='bx bx-x-circle'></i> Decline</button>
                                    </form>
                                </div>


                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>


        </div>
    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        {% for msg in messages %}
        Swal.fire({
            icon: 'msg.icon',
            text: '{{ msg }}'
        }) 
        {% endfor %}
    </script>
</body>

</html>