<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin rejected students</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/admin_css/admin_rejected.css">
    <!-- icon for seacrch -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">

</head>

<body>
    {% include 'activities/admin_nav.html' %}






    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-user-minus' style="vertical-align: middle;"></i> REJECTED</h1><br>
        </div>
        <div class="bg">
            <ul class="nav nav-tabs nav-pills nav-fill">
                <li class="nav-item">
                    <a href="/school_years" class="nav-link">School Year</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/admin_staff">Officially Enrolled <i class='bx bxs-badge-check' style="vertical-align: middle;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_pending">Pending Enrollees <i class='bx bxs-time-five' style="vertical-align: middle;" ></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="background-color: red;" href="/admin_rejected">Rejected <i class='bx bxs-user-minus' style="vertical-align: middle;"></i></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
            </ul>
            <!-- modal -->


            <div class="inside">
                <div class="filters">
                    <div class="filter_in">
                        <select class="cl_country" id="ddlCountry">
                            <option value="all">Select Field </option>
                            <option value="rotc">ROTC</option>
                            <option value="cwts">CWTS</option>
        
                        </select><br>
                        <!-- <select class="cl_age" id="ddlAge">
                            <option value="all">Select Platoon/ Section</option>
                            <option value="ALPHA">APHA</option>
                            <option value="BRAVO">BRAVO</option>
                            <option value="CHARLIE">CHARLIE</option>
                            <option value="DELTA">DELTA</option>
                            <option value="ECHO">ECHO</option>
                            <option value="FOXTROT">FOXTROT</option>
                            <option value="GOLF">GOLF</option>
                            <option value="HOTEL">HOTEL</option>
                            <option value="INDIA">INDIA</option>
                            <option value="JULIET">JULIET</option>
                            <option value="KILO">KILO</option>
                            <option value="LIMA">LIMA</option>
                            <option value="MIKE">MIKE</option>
                            <option value="SECTION A">SECTION A</option>
                            <option value="SECTION B">SECTION B</option>
                            <option value="SECTION C">SECTION C</option>
                            <option value="SECTION D">SECTION D</option>
        
                        </select> -->
                    </div>

                    <div class="sear">
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="&#xF002; Search names here" title="Type in a name" style="font-family: Arial, 'Font Awesome 5 Free'">
                    </div>



                </div>

                <div class="table-responsive">
                    <div class="he">
                        <br>
                        <p1 style="margin-left: 10px; color:#ffffff;">Rejected Enrollees. SY:</p1><br>&nbsp;
                        <h1 style="margin-left: 10px; font-size:30px; color:#ffffff">Rejected</h1><br>

                    </div>


                    <table class="table table-hover" id="myTable">
                        <thead class="thead">
                            <tr>
                                <th scope="col">ID NUMBER</th>
                                <th scope="col">FULL NAME</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">PROFILE PICTURE</th>
                                <th scope="col">COURSE</th>
                                <th scope="col">FIELD</th>
                                <th scope="col">VIEW PROFILE</th>
                                <th scope="col">SEND EMAIL</th>
                                <th scope="col">ACTIONS</th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for s in rejected %} {% if s.idnumber %}
                            <tr>

                                <td>
                                    {{s.idnumber}}
                                </td>
                                <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}</td>
                                <td>{{s.email}}</td>
                                <td id="profile"><img src="{{s.picture.url}}"></td>
                                <td>{{s.section}}</td>
                                <td>{{s.field}}</td>
                                <td>
                                    <a href="{% url 'activities:rejected_email_page' s.id %}" target="_self" title="Click to compose custom Email">
                                        <button type="button" class="btn btn-primary"><i class='bx bx-book-open' style="vertical-align: middle;"></i> View Profile</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'activities:rejected_email_page' s.id %}" target="_self" title="Click to compose custom Email">
                                        <button type="button" class="btn btn-info"> <i class='bx bx-envelope' style="vertical-align: middle;"></i> Send Email</button>
                                    </a>
                                </td>

                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>


                </div>

            </div>

        </div>
    </section>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#ddlCountry,#ddlAge").on("change", function() {
                var country = $('#ddlCountry').find("option:selected").val();
                var age = $('#ddlAge').find("option:selected").val();
                SearchData(country, age)
            });
        });

        function SearchData(country, age) {
            if (country.toUpperCase() == 'ALL' && age.toUpperCase() == 'ALL') {
                $('#myTable tbody tr').show();
            } else {
                $('#myTable tbody tr:has(td)').each(function() {
                    var rowCountry = $.trim($(this).find('td:eq(9)').text());
                    var rowAge = $.trim($(this).find('td:eq(10)').text());
                    if (country.toUpperCase() != 'ALL' && age.toUpperCase() != 'ALL') {
                        if (rowCountry.toUpperCase() == country.toUpperCase() && rowAge == age) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    } else if ($(this).find('td:eq(9)').text() != '' || $(this).find('td:eq(9)').text() != '') {
                        if (country != 'all') {
                            if (rowCountry.toUpperCase() == country.toUpperCase()) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        }
                        if (age != 'all') {
                            if (rowAge == age) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        }
                    }

                });
            }
        }
    </script>
    <script>
        $(function() {
            $('table.table').each(function() {
                var currentPage = 0;
                var numPerPage = 10;
                var $table = $(this);
                $table.bind('repaginate', function() {
                    $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
                });
                $table.trigger('repaginate');
                var numRows = $table.find('tbody tr').length;
                var numPages = Math.ceil(numRows / numPerPage);
                var $pager = $('<div class="pager"></div>');
                var $previous = $('<span class="previous"><<</spnan>');
                var $next = $('<span class="next">>></spnan>');
                for (var page = 0; page < numPages; page++) {
                    $('<span class="page-number"></span>').text(page + 1).bind('click', {
                        newPage: page
                    }, function(event) {
                        currentPage = event.data['newPage'];
                        $table.trigger('repaginate');
                        $(this).addClass('active').siblings().removeClass('active');
                    }).appendTo($pager).addClass('clickable');
                }
                $pager.insertAfter($table).find('span.page-number:first').addClass('active');
                $previous.insertBefore('span.page-number:first');
                $next.insertAfter('span.page-number:last');

                $next.click(function(e) {
                    $previous.addClass('clickable');
                    $pager.find('.active').next('.page-number.clickable').click();
                });
                $previous.click(function(e) {
                    $next.addClass('clickable');
                    $pager.find('.active').prev('.page-number.clickable').click();
                });
                $table.on('repaginate', function() {
                    $next.addClass('clickable');
                    $previous.addClass('clickable');

                    setTimeout(function() {
                        var $active = $pager.find('.page-number.active');
                        if ($active.next('.page-number.clickable').length === 0) {
                            $next.removeClass('clickable');
                        } else if ($active.prev('.page-number.clickable').length === 0) {
                            $previous.removeClass('clickable');
                        }
                    });
                });
                $table.trigger('repaginate');
            });
        });
    </script>
    </div>

    </section>

</body>

</html>