<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pending</title>
    <link rel="stylesheet" href="../../static/admin_css/admin_pending.css">

    <!-- icon for seacrch -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-time'></i> PENDING ENROLLEES</h1><br>
        </div>

        <div class="bg">
            <ul class="nav nav-tabs nav-fill nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/admin_staff">Officially Enrolled <i class='bx bxs-badge-check' style="vertical-align: middle;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="background-color:#FBC007;" href="/admin_pending">Pending Enrollees <i class='bx bxs-time-five' style="vertical-align: middle;" ></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_rejected">Rejected <i class='bx bxs-user-minus' style="vertical-align: middle;"></i></a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> {% endcomment %}
            </ul>
            <div class="filters">
                <div class="filter_in">
                    <select class="cl_country" id="ddlCountry">
                        <option value="all">Select Field </option>
                        <option value="rotc">ROTC</option>
                        <option value="cwts">CWTS</option>
    
                    </select><br>
                    {% comment %} <select class="cl_age" id="ddlAge">
                        <option value="all">Select Platoon/ Section</option>
                        <option value="ALPHA">APHA</option>
                        <option value="BRAVO">BRAVO</option>
                        <option value="CHARLIE">CHARLIE</option>
                        <option value="DELTA">DELTA</option>
                        <option value="ECHO">ECHO</option>
                        <option value="FOXTROT">FOXTROT</option>
                        <option value="GOLF">GOLF</option>
                        <option value="HOTEL">HOTEL</option>
                        <option value="INDIA">INDIA</option>
                        <option value="JULIET">JULIET</option>
                        <option value="KILO">KILO</option>
                        <option value="LIMA">LIMA</option>
                        <option value="MIKE">MIKE</option>
                        <option value="SECTION A">SECTION A</option>
                        <option value="SECTION B">SECTION B</option>
                        <option value="SECTION C">SECTION C</option>
                        <option value="SECTION D">SECTION D</option>
    
                    </select> {% endcomment %}
                </div>

                <div class="sear">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="&#xF002; Search names here" title="Type in a name" style="font-family: Arial, 'Font Awesome 5 Free'">
                </div>



            </div>
            <div class="table-responsive">


                <table class="table table-bordered" id="myTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID Number</th>
                            <th scope="col">Full name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Profile picture</th>
                            <th scope="col">Course</th>
                            <th scope="col">NSTP Field</th>
                            <th scope="col">View Profile</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for s in pendings %}
                            
                            <tr>
                    

                                    <td>

                                        {{s.idnumber}}

                                    </td>

        
                                    <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}</td>
                                    <td>{{s.email}}</td>
                                    <td id="profile">
                                        <a href="{{s.picture.url}}" target="_blank" title="Click to view picture">
                                            <img src="{{s.picture.url}}">
                                        </a>
                                    </td>
                                    <td>{{s.section}}</td>
                                    <td>{{s.field}}</td>
                                    <td class="tar">
                                        <a href="{% url 'activities:admin_view_profile' s.id %}"title="Click to view profile">
                                        View Profile
                                        </a>

                                    </td>
                                    <!-- formsssssss -->

                                    <td class="actions">
                                        <div class="ehe">
                                            <form action="{% url 'activities:approve' s.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="getID" value="{{s.id}}"><button type="submit" class="approve"><i class='bx bx-check'></i>  Approve</button>
                                            </form>
                                        </div>
                                        <div class="ehe">
                                            <form action="{% url 'activities:decline' s.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="getID2" value="{{s.id}}"><button type="submit" class="decline"><i class='bx bx-x-circle'></i> Decline</button>
                                            </form>
                                        </div>


                                    </td>
                                                      
                            
                            </tr>
                            {% empty %}
                            <h1 style="color: red;">NO PENDING ENROLLEES !</h1>
                        {% endfor %}
                     
                    </tbody>
                </table>


            </div>


        </div>
    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        {% for msg in messages %}
        Swal.fire({
            icon: 'msg.icon',
            text: '{{ msg }}'
        }) 
        {% endfor %}
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#ddlCountry,#ddlAge").on("change", function() {
                var country = $('#ddlCountry').find("option:selected").val();
                var age = $('#ddlAge').find("option:selected").val();
                SearchData(country, age)
            });
        });

        function SearchData(country, age) {
            if (country.toUpperCase() == 'ALL' && age.toUpperCase() == 'ALL') {
                $('#myTable tbody tr').show();
            } else {
                $('#myTable tbody tr:has(td)').each(function() {
                    var rowCountry = $.trim($(this).find('td:eq(5)').text());
              
                    if (country.toUpperCase() != 'ALL' ) {
                        if (rowCountry.toUpperCase() == country.toUpperCase() ) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    } else if ($(this).find('td:eq(5)').text() != '' || $(this).find('td:eq(5)').text() != '') {
                        if (country != 'all') {
                            if (rowCountry.toUpperCase() == country.toUpperCase()) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        }
                        
                    }

                });
            }
        }
    </script>


    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</body>

</html>