<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="../../static/admin_css/admin_staff.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- icon for seacrch -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}




    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-user-pin'></i> STUDENTS</h1><br>
        </div>
        <div class="bg">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin_staff">Officially Enrolled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_pending">Pending Enrollees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rejected</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <div class="inside">
                <div class="filters">
                    <div class="filter_in">
                        <select class="cl_country" id="ddlCountry">
                            <option value="all">Select Field </option>
                            <option value="rotc">ROTC</option>
                            <option value="cwts">CWTS</option>
        
                        </select><br>
                        <select class="cl_age" id="ddlAge">
                            <option value="all">Select Platoon/ Section</option>
                            <option value="ALPHA">APHA</option>
                            <option value="BRAVO">BRAVO</option>
                            <option value="CHARLIE">CHARLIE</option>
                            <option value="DELTA">DELTA</option>
                            <option value="ECHO">ECHO</option>
                            <option value="FOXTROT">FOXTROT</option>
                            <option value="GOLF">GOLF</option>
                            <option value="HOTEL">HOTEL</option>
                            <option value="INDIA">INDIA</option>
                            <option value="JULIET">JULIET</option>
                            <option value="KILO">KILO</option>
                            <option value="LIMA">LIMA</option>
                            <option value="MIKE">MIKE</option>
                            <option value="SECTION A">SECTION A</option>
                            <option value="SECTION B">SECTION B</option>
                            <option value="SECTION C">SECTION C</option>
                            <option value="SECTION D">SECTION D</option>
        
                        </select>
                    </div>

                    <div class="sear">
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="&#xF002; Search names here" title="Type in a name" style="font-family: Arial, 'Font Awesome 5 Free'">
                    </div>



                </div>

                <div class="table-responsive">


                    <table class="table table-hover" id="myTable">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID NUMBER</th>
                                <th scope="col">FIRST NAME</th>
                                <th scope="col">MIDDLE NAME</th>
                                <th scope="col">LAST NAME</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">ADDRESS</th>
                                <th scope="col">GENDER</th>
                                <th scope="col">PROFILE PICTURE</th>
                                <th scope="col">COURSE</th>
                                <th scope="col">FIELD</th>
                                <th scope="col">SECTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in details %}
                            <tr>
                                <td>{{s.idnumber}}</td>
                                <td>{{s.firstname}}</td>
                                <td>{{s.middlename}}</td>
                                <td>{{s.lastname}}</td>
                                <td>{{s.email}}</td>
                                <td>{{s.address}}</td>
                                <td>{{s.gender}}</td>
                                <td id="profile"><img src="{{s.picture.url}}"></td>
                                <td>{{s.section}}</td>
                                <td>{{s.field}}</td>
                                <td>{{s.platoons}}</td>
                            </tr>


                            {% endfor %}
                        </tbody>
                    </table>


                </div>

            </div>

        </div>
    </section>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#ddlCountry,#ddlAge").on("change", function() {
                var country = $('#ddlCountry').find("option:selected").val();
                var age = $('#ddlAge').find("option:selected").val();
                SearchData(country, age)
            });
        });

        function SearchData(country, age) {
            if (country.toUpperCase() == 'ALL' && age.toUpperCase() == 'ALL') {
                $('#myTable tbody tr').show();
            } else {
                $('#myTable tbody tr:has(td)').each(function() {
                    var rowCountry = $.trim($(this).find('td:eq(9)').text());
                    var rowAge = $.trim($(this).find('td:eq(10)').text());
                    if (country.toUpperCase() != 'ALL' && age.toUpperCase() != 'ALL') {
                        if (rowCountry.toUpperCase() == country.toUpperCase() && rowAge == age) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    } else if ($(this).find('td:eq(9)').text() != '' || $(this).find('td:eq(9)').text() != '') {
                        if (country != 'all') {
                            if (rowCountry.toUpperCase() == country.toUpperCase()) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        }
                        if (age != 'all') {
                            if (rowAge == age) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        }
                    }

                });
            }
        }
    </script>

</body>

</html>