<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/admin_css/admin_dashboard.css">
    <link rel="icon" href="../../static/images/tup.png">
    <title>ADMIN DASHBOARD</title>
    <link rel="stylesheet" href="../../static/admin_css/minmin.css">
    <!-- pagination css -->



    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <!-- MODAL FOR EDIT ANNOUNCEMENTS -->



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ANNOUNCEMENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
              <span aria-hidden="true">&times;</span>
              
            </button>

                </div>
                <div class="modal-body">
                    <p1 style=" color:#838383; font-style:italic; text-align:center;" id="creates">Create Custom and General Announcements</p1>&nbsp;<br>
                    <div class="inside3">
                        <div class="hess">



                            <div class="announce">
                                <form action="{% url 'activities:create_announcement' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">

                                        <label for="exampleFormControlInput1" style="font-size:14px;">Target Audience</label>
                                        <select class="form-control" name="assign">
                                            <option value="ALL">ALL</option>
                                            {% for s in audience %}
                                            <option value="{{s.section_created}}">{{s.section_created}}</option>
                                            {% endfor %}
        
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1" style="font-size:14px;">Subject</label>
                                        <input type="text" class="form-control" name="subject" placeholder="Subject" id="subject" required style="font-size:12px;">

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1" style="font-size:14px;">Content</label>
                                        <textarea class="form-control" name="content" id="content" placeholder="Content" required style="font-size:12px;"></textarea>

                                    </div><br>

                                    <button type="submit" class="btn btn-success" id="post"><i class='bx bx-cloud-upload' ></i> Post</button>
                                </form>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- eof     MODAL FOR EDIT ANNOUNCEMENTS -->

    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-home'></i> NSTP SYSTEM DASHBOARD</h1><br>
        </div><br>
        <div class="bg">

            <div class="container-fluid">
                <div class="stats">
                    <div class="cards" id="blue">
                        <div class="inside1">
                            <div class="left">
                                <h1>{{active}}</h1>
                                <p>Active Students</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/admin_staff">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>
                    <br>

                    <div class="cards" id="red">
                        <div class="inside1">
                            <div class="left">
                                <h1>{{pending}}</h1>
                                <p>Pending Enrollees</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/admin_pending">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>
                    <br>


                    <div class="cards" id="yellow">
                        <div class="inside1">
                            <div class="left">
                                {% for s in sy %}
                                <h1>{{s.years}}</h1>
                                {% endfor %}
                                <p>School Year</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="/school_years">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>

                    <br>
                    <div class="cards" id="green">
                        <div class="inside1">
                            <div class="left">
                                <h1>8</h1>
                                <p>All Sections</p>
                            </div>
                            <div class="right">
                                <img class="graph" src="../../static/images/graph.png">
                            </div>
                        </div>
                        <div class="more">
                            <p class="info"><a href="#">More info  </a> <i class='bx bxs-right-arrow-circle'></i></p>

                        </div>
                    </div>


                </div>

            </div>


            <div class="inside2">
                <div class="hes">
                    <br>
                    <div class="for">
                        <h1 style="margin-left: 10px; font-size:30px; color:#000000" id="mega">Announcements List</h1><br>
                        <button type="button" class="btns" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" id="new"><i class='bx bx-plus'></i>  ADD NEW ANNOUNCEMENT</button>
                    </div>
                    <br>
                    <br>

                    <div class="announce">

                        <table id="example" class="table table-bordered table-hover ">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">Subject</th>

                                    <th scope="col">Target Audience</th>
                                    <th scope="col">Date Posted</th>
                                    <th scope="col">Content</th>

                                    <th scope="col">Edit</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for s in ann %}
                                <tr>
                                    <form action="{% url 'activities:edit_announcement' s.id %}" method="POST">
                                        {% csrf_token %}

                                        <td>{{s.subject}}</td>
                                        <td>{{s.assign}}</td>
                                        <td id="posted"> <i class='bx bx-calendar'></i> {{s.date_posted}}</td>
                                        <td contenteditable="True" style="width: 40%;">
                                            <textarea type="text" style="width: 100%; height:100%;" name="content">{{s.content}}</textarea>
                                        </td>

                                        <td>

                                            <div class="bbt">
                                                <input type="hidden" value="{{s.id}}" name="ID">
                                                <button type="submit" class="btn btn-success" title="Update Announcement"><i class='bx bx-check' ></i> Update</button><br>&nbsp;<br>


                                                <a href="/delete_announcement/{{s.id}}" class="btn btn-danger" title="Edit" id="rights" style="float: right;"><i class='bx bx-trash'></i> Delete</a>
                                            </div>


                                        </td>
                                    </form>


                                </tr>

                                {% empty %} {% endfor %}
                            </tbody>
                        </table>
                        <!-- </div> -->

                    </div>

                </div>


            </div>

            <!-- message from landing page -->

            <br>
            <div class="inside2">
                <div class="hes">
                    <br>
                    <div class="for">
                        <h1 style="margin-left: 10px; font-size:30px; color:#000000" id="mega">Feedback</h1><br>

                    </div>
                    <br>
                    <br>
                    <div class="announce">

                        <table id="example2" class="table table-bordered table-hover ">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">Sender</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Date Sent</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Send Response</th>


                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <form action="" method="POST">
                                        <td>Christian Rapal</td>
                                        <td>christianrapal2000@gmail.com</td>
                                        <td id="posted"><i class='bx bx-calendar'></i> Oct. 11, 2022</td>
                                        <td>Service</td>
                                        <td contenteditable="True" style="width: 40%;">
                                            <textarea type="text" style="width: 100%; height:100%;" name="content">I would like to claim my certificate,  I graduated on june 1999</textarea>
                                        </td>

                                        <td>
                                            <select name="" id="" class="form-control">
                                                <option value="done">Done</option>

                                            </select>


                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-warning"><i class='bx bx-message-rounded-check'></i> Send Response</button>
                                        </td>
                                    </form>


                                </tr>


                            </tbody>
                        </table>
                        <!-- </div> -->

                    </div>

                </div>


            </div>

        </div>
    </section>
    <!-- for chart -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- EOF CHART -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


    <!-- pagination -->
    <script src="../../static/js/pag.js"></script>
    <script src="../../static/js/datbot.js"></script>
    <script src="../../static/js/dat.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#example2').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>
        {% for msg in messages %}
        Swal.fire({
            icon: '',
            text: '{{ msg }}'
        }) {% endfor %}
    </script> -->

    <script>
        $('.btn-danger').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    location.href = self.attr('href')
                }
            })
        })
    </script>
    <!-- <script>
        const modal = document.querySelector(".modal");
        const trigger = document.querySelector(".trigger");
        const closeButton = document.querySelector(".close-button");

        function toggleModal() {
            modal.classList.toggle("show-modal");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }

        trigger.addEventListener("click", toggleModal);
        closeButton.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);
    </script> -->


</body>

</html>