<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allumni</title>
    <link rel="stylesheet" href="../../static/admin_css/allumni.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}
    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-user-pin'></i> ALLUMNI</h1><br>
        </div>
        <div class="bg">
            <div class="table-responsive">


                <table class="table table-hover" id="myTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID NUMBER</th>
                            <th scope="col">FULL NAME</th>
                            <th scope="col">SCHOOL YEAR</th>



                        </tr>
                    </thead>
                    <tbody>
                        {% for s in content %}
                        <tr>

                            <td>
                                {{s.idnumber}}
                            </td>
                            <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}</td>
                            <td>{{s.s_year}}</td>


                        </tr>

                        {% empty %}
                        <h1 style="color: red;">NO GRADUATES YET !</h1>
                        {% endfor %}
                    </tbody>
                </table>


            </div>

        </div>
    </section>

</body>

</html>