<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attendance peoples</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/attendance_main.css">
    <!-- pagination css -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}




    <section class="home-section">
        <div class="heads">
            <a href="/attendance_page">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Attendance &nbsp;|</h1>
            </a>

            <a href="/attendance_sections">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Sections &nbsp;|</h1>
            </a>

            <h1 class="text"><i class='bx bx-star'></i> {{getSection}}</h1>
        </div>
        <div class="bg">
            <div class="inside">

                <div class="table-responsive">
                    <form action="{% url 'activities:update_attendance' %}" method="POST">
                        {% csrf_token %}
                        <div class="he">
                            <br>

                            <p1 style="margin-left: 10px; color:#000000;">List of All Students in {{ids}}</p1><br>&nbsp;
                            <h1 style="margin-left: 10px; font-size:30px; color:#000000">Students</h1><br>

                        </div>
                        <br>
                        <table id="myTable" class="table table-bordered table-hover ">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">ID NUMBER</th>
                                    <th scope="col">FULL NAME</th>
                                    <th scope="col">TD1</th>
                                    <th scope="col">TD2</th>
                                    <th scope="col">TD3</th>
                                    <th scope="col">TD4</th>
                                    <th scope="col">TD5</th>
                                    <th scope="col">TD6</th>
                                    <th scope="col">TD7</th>
                                    <th scope="col">TD8</th>
                                    <th scope="col">TD9</th>
                                    <th scope="col">TD10</th>
                                    <th scope="col">TD11</th>
                                    <th scope="col">TD12</th>
                                    <th scope="col">TD13</th>
                                    <th scope="col">TD14</th>
                                    <th scope="col">TD15</th>



                                </tr>
                            </thead>

                            <tbody>
                                {% for s in content3 %}
                                <tr>
                                
                                    <td >{{s.idnumber}}</td>
                                
                                    <td>
                                
                                        {{s.firstname}} {{s.middlename}} {{s.lastname}}

        
                                    </td>
                                    <td>
                                        {% if s.TD1 == 'PRESENT' %}
                                        <input type="checkbox" name="td1[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td1A[]" value="{{s.id}}" id="cb2"> A {% elif s.TD1 == 'ABSENT' %}
                                        <input type="checkbox" name="td1[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td1A[]" value="{{s.id}}" id="cb1" checked> A {% elif s.TD1 == '' %}
                                        <input type="checkbox" name="td1[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td1A[]" value="{{s.id}}" id="cb2"> A {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD2 == 'PRESENT' %}
                                        <input type="checkbox" name="td2[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td2A[]" value="{{s.id}}" id="cb2"> A {% elif s.TD2 == 'ABSENT' %}
                                        <input type="checkbox" name="td2[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td2A[]" value="{{s.id}}" id="cb1" checked> A {% elif s.TD2 == '' %}
                                        <input type="checkbox" name="td2[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td2A[]" value="{{s.id}}" id="cb2"> A {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD3 == 'PRESENT' %}
                                        <input type="checkbox" name="td3[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td3A[]" value="{{s.id}}" id="cb2"> A {% elif s.TD3 == 'ABSENT' %}
                                        <input type="checkbox" name="td3[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td3A[]" value="{{s.id}}" id="cb1" checked> A {% elif s.TD3 == '' %}
                                        <input type="checkbox" name="td3[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td3A[]" value="{{s.id}}" id="cb2"> A {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD4 == 'PRESENT' %}
                                        <input type="checkbox" name="td4[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td4A[]" value="{{s.id}}" id="cb2"> A {% elif s.TD4 == 'ABSENT' %}
                                        <input type="checkbox" name="td4[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td4A[]" value="{{s.id}}" id="cb1" checked> A {% elif s.TD4 == '' %}
                                        <input type="checkbox" name="td4[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td4A[]" value="{{s.id}}" id="cb2"> A {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD5 == 'PRESENT' %}
                                        <input type="checkbox" name="TD5[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td5A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD5 == 'ABSENT' %}
                                        <input type="checkbox" name="td5[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td5A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD5 == '' %}
                                        <input type="checkbox" name="td5[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td5A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD6 == 'PRESENT' %}
                                        <input type="checkbox" name="TD6[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td6A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD6 == 'ABSENT' %}
                                        <input type="checkbox" name="td6[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td6A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD6 == '' %}
                                        <input type="checkbox" name="td6[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td6A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD7 == 'PRESENT' %}
                                        <input type="checkbox" name="TD7[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td7A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD7 == 'ABSENT' %}
                                        <input type="checkbox" name="td7[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td7A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD7 == '' %}
                                        <input type="checkbox" name="td7[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td7A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD8 == 'PRESENT' %}
                                        <input type="checkbox" name="TD8[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td8A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD8 == 'ABSENT' %}
                                        <input type="checkbox" name="td8[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td8A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD8 == '' %}
                                        <input type="checkbox" name="td8[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td8A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD9 == 'PRESENT' %}
                                        <input type="checkbox" name="TD9[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td9A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD9 == 'ABSENT' %}
                                        <input type="checkbox" name="td9[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td9A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD9 == '' %}
                                        <input type="checkbox" name="td9[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td9A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD10 == 'PRESENT' %}
                                        <input type="checkbox" name="TD10[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td10A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD10 == 'ABSENT' %}
                                        <input type="checkbox" name="td10[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td10A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD10 == '' %}
                                        <input type="checkbox" name="td10[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td10A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD11 == 'PRESENT' %}
                                        <input type="checkbox" name="TD11[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td11A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD11 == 'ABSENT' %}
                                        <input type="checkbox" name="td11[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td11A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD11 == '' %}
                                        <input type="checkbox" name="td11[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td11A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD12 == 'PRESENT' %}
                                        <input type="checkbox" name="TD12[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td12A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD12 == 'ABSENT' %}
                                        <input type="checkbox" name="s.TD12[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td12A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD12 == '' %}
                                        <input type="checkbox" name="td12[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td12A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD13 == 'PRESENT' %}
                                        <input type="checkbox" name="TD13[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td13A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD13 == 'ABSENT' %}
                                        <input type="checkbox" name="s.TD13[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td13A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD13 == '' %}
                                        <input type="checkbox" name="td13[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td13A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD14 == 'PRESENT' %}
                                        <input type="checkbox" name="TD14[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td14A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD14 == 'ABSENT' %}
                                        <input type="checkbox" name="s.TD14[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td14A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD14 == '' %}
                                        <input type="checkbox" name="td14[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td14A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.TD15 == 'PRESENT' %}
                                        <input type="checkbox" name="TD15[]" value="{{s.id}}" id="cb2" checked> P
                                        <input type="checkbox" name="td15A[]" value="{{s.id}}" id="cb2"> A 
                                        {% elif s.TD15 == 'ABSENT' %}
                                        <input type="checkbox" name="s.TD15[]" value="{{s.id}}" id="cb2"> P
                                        <input type="checkbox" name="td15A[]" value="{{s.id}}" id="cb1" checked> A 
                                        {% elif s.TD15 == '' %}
                                        <input type="checkbox" name="td15[]" value="{{s.id}}" id="cb1"> P
                                        <input type="checkbox" name="td15A[]" value="{{s.id}}" id="cb2"> A 
                                        {% endif %}
                                    </td>







                                </tr>

                                {% endfor %}



                            </tbody>



                        </table>
                        <input type="hidden" value="PRESENT" name="vals">
                        <button type="submit" class="btn btn-danger">Danger</button>
                    </form>

                </div>

            </div>
        </div>
    </section>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').dataTable();
        });
    </script>


    <!-- <script>
        $('#td1').click(function(event) {
            if (this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function() {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;
                });
            }
        });
    </script> -->
    {% comment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> {% endcomment %} {% comment %}
    <script>
        $("th input[type='checkbox']").on("change", function() {
            var cb = $(this), //checkbox that was changed
                th = cb.parent(), //get parent th
                col = th.index() + 1; //get column index. note nth-child starts at 1, not zero
            $("tbody td:nth-child(" + col + ") input").prop("checked", this.checked); //select the inputs and [un]check it
        });
    </script> {% endcomment %}




</body>

</html>