<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendnace page</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/attendance_page.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#616161; color:white;">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Training Day!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'activities:create_day' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Training day Number(Please follow the given format)</label>
                            <input type="text" class="form-control" id="message-text" placeholder="Ex: TD-1" name="title" required>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success"><i class='bx bx-plus' style="vertical-align: middle;" ></i> Add</button>
                </div>
                </form>
            </div>
        </div>
    </div> -->

    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Attendance</h1><br>
        </div>
        <div class="bg">


            <div class="overall">
                <div class="left">
                    <h1 style="font-size: 20px; color:#e3e3e3;">All Sections and Platoons</h1>
                    <p1 style="color:#ffffff; font-size:15px; font-weight:bold;"><i class='bx bxs-grid' style="vertical-align:middle; font-size: 20px; color:#ffffff; font-weight:bolder;"></i> </p1>
                    <br>&nbsp;<br>
                    <div class="row">
                        {% for s in platoons %}
                        <form action="{% url 'activities:attendance_main' %}" class="column" style="text-decoration: none;" method="POST">
                            {% csrf_token %}
                            <div class="card">
                                <p>Training day</p><br>
                                <h1>{{s.section_created}}</h1>
                                <input type="hidden" name="t_day" id="" value="{{s.title}}">
                                <div class="btnss" style="float: right;">
                                    <button type="submit" class="btn btn-success" title="Take Attendance" style="background: #D87D80; border:none; color:rgb(214, 214, 214);">Take Attendance</button>
                                    <input type="hidden" value="{{s.section_created}}" name="getSection">
                                    <!-- <button type="button" class="btn btn-info" title="Attendance Report"><i class='bx bxs-report' ></i></button> -->
                                </div>
                            </div>
                        </form><br> {% endfor %}
                    </div>
                </div>

            </div>

        </div>


    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>
        {% for msg in messages %}
        Swal.fire({
            icon: '{{msg.icon}}',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>  -->

</body>

</html>