<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Platoons</title>
    <link rel="stylesheet" href="../../static/admin_css/create_platoon.css">
    <link rel="icon" href="../../static/images/tup.png">


    <!-- icon for seacrch -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}
    <!-- modal for sections -->


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#5d0c0c; color:white;">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Section!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'activities:create_section' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Add here ...</label>
                            <input type="text" class="form-control" id="message-text" placeholder="ALPHA" name="secs" required>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success"><i class='bx bx-plus' style="vertical-align: middle;" ></i> Add</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- EOF MODAL -->

    <!-- MODAL FOR PICTURES -->



    <!-- eof modal for puictures  -->
    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Students</h1><br>
        </div>
        <div class="bg">
            <div class="tops">
                <div class="left1">
                    <h1 style="font-size: 20px;">Add & Manage </h1><br>

                    <h1 class="adds">Add & Manage Students</h1><br>
                    <!-- <p1 style="color: grey; font-size:15px;"><i class='bx bx-check' style="vertical-align:middle; font-size: 20px; color:green; font-weight:bolder;"></i> {{counts}} Active Students</p1> -->
                    <a href="#" style="text-decoration: none;">
                        <button type="button" class="btns "> <i class='bx bx-plus' style="vertical-align:middle;"></i> Add Student</button>
                    </a>
                </div>


            </div>

            <div class="overall">
                <div class="left">
                    <div class="headd">
                        <div>
                            <h1 style="font-size: 20px;">All Students</h1>
                            <p1 style="color:green; font-size:15px; font-weight:bold;"><i class='bx bx-check' style="vertical-align:middle; font-size: 20px; color:green; font-weight:bolder;"></i> {{counts}} Active Students</p1>
                            <br>&nbsp;<br>
                        </div>



                    </div>


                    <div class="table-responsive"><br>


                        <table class="table table-bordered" id="myTable">
                            <hr>

                            <thead>
                                <tr style="color: rgb(79, 79, 79);">
                                    <th scope="col">Profile</th>
                                    <th scope="col">ID Number</th>
                                    <th scope="col">Full name</th>
                                    <th scope="col">Course / Section</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Field</th>

                                    <th scope="col">Platoon / Section</th>
                                    <th scope="col">Last Login</th>


                                    <th scope="col" id="momo">Modify Profile</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for s in counts1 %}
                                <tr>
                                    <th scope="row">

                                        <a href="{% url 'activities:view_images' s.id %}" target="_self" title="Click to view picture">
                                            <img src="{{s.picture.url}}" alt="profile pic" id="profile_pic">

                                        </a>
                                    </th>
                                    <td style="font-size: 10px;">{{s.idnumber}}</td>
                                    <td>{{s.lastname}} {{s.firstname}} {{s.middlename}}</td>
                                    <td>{{s.section}}</td>
                                    <td style="color:green;">{{s.status}} <i class='bx bxs-check-circle' style="vertical-align:middle;"></i></td>
                                    <td>{{s.field}}</td>


                                    <td>{{s.platoons}}</td>
                                    {% for l in userContent %} {% if l.username == s.idnumber %}

                                    <td style="color: rgb(196, 10, 10);" >
                                        <i class='bx bxs-time-five' style="vertical-align:middle;"></i> {{l.last_login}}

                                    </td>



                                    <td style="text-align:center;">
                                        <a href="{% url 'activities:edit_manage' s.id %}" target="_self" title="Edit Profile">
                                            <i class='bx bxs-edit' id="changes"></i>

                                        </a>

                                    </td>
                                    {% endif %} {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><br>&nbsp;<br>&nbsp;<br> {% comment %}
                <div class="right">
                    <h1 style="font-size: 20px;">All Sections</h1>
                    <p1 style="color: grey; font-size:15px;font-weight:bold;"><i class='bx bx-intersect' style="vertical-align:middle; font-size: 20px; color:green; font-weight:bolder;"></i> {{section1}} Section/s</p1><br>&nbsp;<br> {% for s in section %} {% if s.section_created %}
                    <div class="haha">
                        <div class="covers">
                            <div class="cardss">
                                <div class="some">

                                    <div class="some2">
                                        <h1>{{s.section_created}}</h1>
                                        <i class='bx bxs-user-detail' style="color: grey;"></i>
                                    </div>
                                </div>



                            </div>


                        </div>
                        <div class="view">

                            <form action="{% url 'activities:section_content'  %}" method="POST">
                                {% csrf_token %}
                                <td>
                                    <input type="hidden" value="{{s.section_created}}" name="platoons">
                                    <button type="submit" class="btn btn-info" id="viewMore">View more </button>
                                </td>
                            </form>

                        </div>
                    </div><br> {% else %} {% endif %} {% empty %}
                    <p style="text-align: center; margin-top:100px;">No Sections Created !</p>
                    {% endfor %}
                </div> {% endcomment %}

            </div>

        </div>
    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% comment %} <script>
        {% for msg in messages %}
        Swal.fire({
            icon: 'success',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>   {% endcomment %}
    <!-- search  -->
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];

                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <script type="text/javascript">
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('myTable');
            var wb = XLSX.utils.table_to_book(elt, {
                sheet: "sheet1"
            });
            return dl ?
                XLSX.write(wb, {
                    bookType: type,
                    bookSST: true,
                    type: 'base64'
                }) :
                XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
        }
    </script>


    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').dataTable();
        });
    </script>

</body>

</html>