<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Platoons</title>
    <link rel="stylesheet" href="../../static/admin_css/create_platoon.css">
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">


    <!-- icon for seacrch -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
    <!-- 
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> -->

    <link rel="stylesheet" href="../../static/admin_css/minmin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    {{ redirect_to_login_immediately }} {% include 'activities/admin_nav.html' %}
    <!-- modal for sections -->


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#5d0c0c; color:white;">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Section!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'activities:create_section' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Add here ...</label>
                            <input type="text" class="form-control" id="message-text" placeholder="ALPHA" name="secs" required>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success"><i class='bx bx-plus' style="vertical-align: middle;" ></i> Add</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- EOF MODAL -->

    <!-- MODAL FOR PICTURES -->



    <!-- eof modal for puictures  -->
    <section class="page-content">
        <div class="heads">
            <h1 class="text"><i class='bx bx-time'></i> MANAGE STUDENTS</h1><br>
        </div>
        <div class="bg">
            <ul class="nav nav-tabs " id="navs">
                <li class="nav-item">
                    <a href="/create_platoon_page" class="nav-link active">Enrolled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/dropped">Dropped </a>
                </li>
            </ul>


            <div class="overall">
                <div class="left">
                    <div class="headd">
                        <div>
                            <h1 style="font-size: 20px;">All Students</h1>
                            <p1 style="color:rgb(0, 0, 0); font-size:15px; font-weight:bold;"> {{counts}} total enrollee(s)</p1>
                            <br>&nbsp;<br>
                        </div>
                        <div class="butts">
                            <form action="{% url 'activities:download1' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{getSection}}" name="cate">
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="dl"><i class='bx bxs-download' ></i> Download List</button>
                                <!-- <a href="{% url 'activities:add_students' %}" class="btn btn-success" style="width: 100%;" target="_blank">Add Student</a> -->
                            </form>

                        </div>



                    </div>


                    <div class="table-responsive"><br>


                        <table class="table table-bordered" id="table1">
                            <hr>

                            <thead>
                                <tr style="color: rgb(0, 0, 0);">
                                    <th scope="col">Profile</th>
                                    <th scope="col">ID Number</th>
                                    <th scope="col">Full name</th>
                                    <th scope="col">Course / Section</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Field</th>

                                    <th scope="col">Platoon / Section</th>
                                    <th scope="col">Last Login</th>


                                    <th scope="col" id="momo">Modify</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for s in counts1 %}
                                <tr>
                                    <th scope="row">
                                        <!-- {% url 'activities:view_images' s.id %} -->
                                        <a href="#" target="_self" title="Click to view picture">
                                            <img src="{{s.picture.url}}" alt="profile pic" id="profile_pic">

                                        </a>
                                    </th>
                                    <td style="font-size: 10px;">{{s.idnumber}}</td>
                                    <td>{{s.lastname}} {{s.firstname}} {{s.middlename}}</td>
                                    <td>{{s.section}}</td>

                                    <td>
                                        <i class='bx bxs-check-circle' id="times2">  {{s.status}}</i>

                                    </td>
                                    <td>{{s.field}}</td>


                                    <td>{{s.platoons}}</td>
                                    {% for l in userContent %} {% if l.username == s.idnumber %}

                                    <td>
                                        <i class='bx bxs-time-five' id="times">  {{l.last_login}}</i>

                                    </td>


                                    {% endif %} {% endfor %}

                                    <td style="text-align:center;">
                                        <a href="{% url 'activities:edit_manage' s.id %}" target="_self" title="Edit Profile" id="changes" class="btn btn-success btn-sm">
                                            <i class='bx bxs-edit'></i> View Profile

                                        </a>

                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><br>&nbsp;<br>&nbsp;<br>

            </div>

        </div>
    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- <script>
        { %
            for msg in messages %
        }
        Swal.fire({
            icon: 'success',
            text: '{{ msg }}'
        }) { % endfor %
        }
    </script> -->
    <!-- search  -->
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];

                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <script type="text/javascript">
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('myTable');
            var wb = XLSX.utils.table_to_book(elt, {
                sheet: "sheet1"
            });
            return dl ?
                XLSX.write(wb, {
                    bookType: type,
                    bookSST: true,
                    type: 'base64'
                }) :
                XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
        }
    </script>


    <!-- <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').dataTable();
        });
    </script> -->

    <script src="../../static/js/pag.js"></script>
    <script src="../../static/js/datbot.js"></script>
    <script src="../../static/js/dat.js"></script>
    <script>
        $(document).ready(function() {
            $('#table1').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>

</body>

</html>