<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/admin_css/grades.css">
    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">

    <link rel="stylesheet" href="../../static/admin_css/minmin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
{% include 'activities/loader.html' %}

<body>
    {% include 'activities/admin_nav.html' %}


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#ffffff; color:white;">
                    <h5 class="modal-title" id="exampleModalLabel">Add Training Day</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'activities:create_td2' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Add date</label>
                            <input type="date" class="form-control" id="message-text" placeholder="Ex: ALPHA" name="td" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Training day count</label>
                            <input type="number" class="form-control" id="message-text" placeholder="Ex: 1" name="td_count" required>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-info"><i class='bx bx-plus' style="vertical-align: middle;" ></i> Create</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <section class="page-content">
        <div class="heads">
            <a href="/cwts_course_evaluation">
                <h1 class="text">CWTS COURSE EVALUATION&nbsp;>&nbsp;</h1>
            </a>
            <a href="/cwts_attendance_tab">
                <h1 class="text" style="color: rgb(0, 248, 0);">CWTS COURSE EVALUATION</h1>
            </a>

        </div>

        <br>




        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/cwts_attendance_tab">Attendance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quiz">Quizzes / Activities</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/exercises">Exercises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/finals_">Midterm Exam</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/final_grade">Final Exam</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/final_grade">Final Grade</a>
            </li>
        </ul>




        <div class="bg">


            <div class="overall">
                <div class="left">
                    <div class="tss">


                        <div class="txt ">
                            <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold;" id="mega"><i class='bx bx-subdirectory-right'></i> Attendance Records</h1>

                        </div>



                    </div>

                    <hr>

                    <div class="row">
                        {% for s in section2 %}
                        <form action="{% url 'activities:cwts_show_students'%}" class="column" style="text-decoration: none;" method="POST">
                            {% csrf_token %} {% if s.fiel == 'ROTC' %}
                            <div class="card">
                                <img src="../../static/images/236.png" alt="ROTC LOGO" id="ro_logo">
                                <h5 class="title ">{{s.section_created}}</h5>
                                <input type="hidden" value="{{s.section_created}}" name="getSection"><br>
                                <button type="submit" class="btn btn-dark">Open</button><br>
                                <p class="card-text"><small class="text-muted">Created for ROTC Only</small></p>
                            </div>
                            {% elif s.fiel == 'CWTS' %}
                            <div class="card">
                                <img src="../../static/images/tup.png" alt="ROTC LOGO" id="ro_logo">
                                <h5 class="title ">{{s.section_created}}</h5>
                                <input type="hidden" value="{{s.section_created}}" name="getSection"><br>
                                <button type="submit" class="btn btn-dark">Open</button><br>
                                <p class="card-text"><small class="text-muted">Created for CWTS Only</small></p>
                            </div>
                            {% endif %}
                        </form>
                        {% endfor %}
                    </div>




                </div>
            </div>


            <div class="overall1">


                <div class="cri">


                    <div class="left2">
                        <div class="sec">
                            <div class="txt ">
                                <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold;" id="mega"><i class='bx bx-subdirectory-right'></i>Training Days</h1>

                            </div>


                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">  Add Training Day</button>

                        </div>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover " id="myTable">
                                <thead class="thead">
                                    <tr>
                                        <th scope="col">Training Day #</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" style="text-align: center !important; width:120px !important;">Action</th>

                                    </tr>
                                </thead>


                                <tbody>
                                    {% for s in acts2 %}
                                    <tr>
                                        <td>{{s.td_count}}</td>
                                        <td>{{s.class_td}}</td>
                                        <td style="justify-content: space-between; display:flex;">
                                            <a href="/delete_td/{{s.id}}" id="del_act" class="btn btn-danger" title="Delete"><i class="fa-solid fa-trash-can"></i></a>

                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>




            </div>

        </div>
    </section>
    <script src="../../static/js/pag.js"></script>
    <script src="../../static/js/datbot.js"></script>
    <script src="../../static/js/dat.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>
        { %
            for msg in messages %
        }
        Swal.fire({
            icon: '',
            text: '{{ msg }}'
        }) { % endfor %
        }
    </script> -->

    <script>
        $('.btn-danger').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    location.href = self.attr('href')
                }
            })
        })
    </script>



</body>

</html>