<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSTP</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/rotc_alimni.css">



    <link rel="stylesheet" href="../../static/admin_css/minmin.css">

</head>

<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add School Year</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'activities:add_alumni_years2' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group-sm">
                            <label id="labels">Start Year</label>
                            <input type="text" class="form-control " name="start" placeholder="2022" required minlength="4" maxlength="4" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">

                        </div>
                        <br>
                        <div class="form-group-sm">
                            <label id="labels">End Year</label>
                            <input type="text" class="form-control " name="end" placeholder="2023" required minlength="4" maxlength="4" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">

                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

                </form>
            </div>
        </div>
    </div>
    {% include 'activities/admin_nav.html' %}


    <section class="page-content">
        <div class="heads">
            <h1 class="text"><i class='bx bxs-dashboard'></i> CWTS ALUMNI</h1>
        </div>
        <div class="bg">

            <div class="left">
                <div class="tss">


                    <div class="txt ">
                        <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold;" id="mega"><i class="fa-sharp fa-solid fa-calendar-week"></i> All School Years</h1>

                    </div>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" id="new"><i class="fa-solid fa-plus"></i> ADD SCHOOL YEAR</button>


                </div>

                <hr>

                <div class="row">
                    {% for s in school_years %}
                    <form action="{% url 'activities:cwts_alumni_years' %}" class="column" style="text-decoration: none;" method="POST">
                        {% csrf_token %}
                        <div class="card">
                            <!-- <i class='bx bxs-calendar-check' id="calendar"></i><br> -->
                            <h5 class="title">{{s.years}}</h5>
                            <input type="hidden" value="{{s.years}}" name="years">
                            <p>Graduates</p>
                            <div class="multi">

                                <button type="submit" class="btn btn-info" id="sub"><i class="fa-brands fa-opencart"></i> Open</button>
                                <a href="/cwts_alumni_year/{{s.id}}" class="btn btn-dark" id="del"><i class="fa-solid fa-trash-can"></i></a>
                            </div>


                        </div>
                    </form>
                    {% empty %}
                    <p1 style="text-align: center; margin:auto;">No School Years Available <i class='bx bx-sad'></i></p1>
                    {% endfor %}
                </div>



            </div>

        </div>
    </section>



    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>

        {% for msg1 in messages %}
        Swal.fire({
            position: 'top-end',
            icon: '',
            title: '{{msg1}}',
            showConfirmButton: false,
            timer: 2500
          }) {% endfor %}
    </script>    -->

    <script>
        $('.btn-dark').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    location.href = self.attr('href')
                }
            })
        })
    </script>

</body>

</html>