<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWTS COURSE EVALUATION</title>
    <link rel="stylesheet" href="../../static/admin_css/cwts_grading.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="page-content">
        <div class="heads">
            <a href="/cwts_course_evaluation">
                <h1 class="text">CWTS COURSE EVALUATION</h1>
            </a>
        </div>
        <br>
        <div class="outerBox">
            <div class="proceed">
                <a href="/cwts_attendance_tab" class="btn btn-danger" id="open"><i class="fa-solid fa-book-open"></i> Open Grades</a>

            </div>
            <br>
            <div class="inner_box">
                <div class="table-responsive">
                    <h1><i class="fa-solid fa-calculator"></i> CWTS Grading Evaluation</h1>
                    <br>&nbsp;<br>
                    <form action="{% url 'activities:save_evaluation' %}" method="post">
                        {% csrf_token %}
                        <table class="table table-bordered table-hover" id="grades">
                            <thead>
                                <tr>
                                    <th scope="col">Content</th>
                                    <th scope="col">Percentage %</th>


                                </tr>
                            </thead>
                            {% for s in evaluation %}
                            <tbody>
                                <tr>
                                    <th scope="row">Attendance</th>
                                    <td><input type="text" class="form-control" name="attendance" value="{{s.attendance}}" placeholder="0.05"></td>

                                </tr>
                                <tr>
                                    <th scope="row">Quizzes</th>
                                    <td><input type="text" class="form-control" name="quiz" value="{{s.quiz}}" placeholder="0.30"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Exercises</th>
                                    <td><input type="text" class="form-control" name="exercise" value="{{s.exercises}}" placeholder="0.30"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Class Participation</th>
                                    <td><input type="text" class="form-control" name="participation" value="{{s.participation}}" placeholder="0.05"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Midterm Exam</th>
                                    <td><input type="text" class="form-control" name="midterm" value="{{s.midterm_exam}}" placeholder="0.15"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Final Exam</th>
                                    <td><input type="text" class="form-control" name="final" value="{{s.final_exam}}" placeholder="0.15"></td>
                                </tr>
                                <tr>
                                    <th scope="row" id="total">EQUIVALENT:</th>
                                    <td><input type="text" class="total" id="percentage" readonly name="total" value="{{s.total}}"></td>



                            </tbody>
                            {% endfor %}


                        </table>
                        <button type="submit" class="btn btn-secondary" id="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                    </form>
                </div>


            </div>


        </div>
    </section>


    <!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        {% for msg in messages %}
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: '{{msg}}',
            showConfirmButton: false,
            timer: 2500
          }) {% endfor %}
    </script>  

    <script>
        $(document).ready(function() {

            $("#grades").on('input', '.form-control', function() {
                var calculated_total_sum = 0;

                $("#grades .form-control").each(function() {
                    var get_textbox_value = $(this).val();
                    if ($.isNumeric(get_textbox_value)) {
                        calculated_total_sum += parseFloat(get_textbox_value);
                    }
                });
                $("#percentage").val(calculated_total_sum);
            });
        });
    </script>


</body>

</html>