<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for chart js -->


</head>

<body>
    {% include 'activities/navbar.html' %}


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Grade Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    {% for s in name %}
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">First Sem Grade</label>
                            <input type="text" class="form-control" id="recipient-name" value="{{s.final_grade}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Second Sem Grade</label>
                            <input type="text" class="form-control" id="recipient-name" value="{{s.final_grade_2}}" readonly>
                        </div>
                    </form>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <section class="page-content">
        <div class="heads">
            <h1 class="text"><i class='bx bx-home'></i>DASHBOARD</h1><br>
            <h1 class="text" id="time"></h1>

        </div><br>
        <div class="bg">
            <div class="home-content">

                <div class=uper>
                    <div class="uper2">
                        {% for s in name %}
                        <div class="left">
                            <img src="{{s.picture.url}}" alt="" id="profile2">

                        </div>
                        <br>
                        <div class="mid">
                            <h2>Welcome Back <span style="font-weight: bolder;">{{s.firstname}} !</span></h2>

                        </div>
                        <br>
                        <div class="right">
                            <h2><span style="font-size: 18px;">Status: </span>{{s.status}}</h2>

                        </div>
                        {% endfor %}

                    </div>

                </div>

                <br>&nbsp;<br>

                <!-- lower part -->

                <div class="announce-boxes">
                    <div class="recent-announce box">
                        <div class="title"><i class="fa-solid fa-scroll"></i> Announcements</div>
                        <hr>
                        <div class="announce-details">
                            {% for manji in announcement %} {% if manji.subject != '' %} {% for s in name %} {% if manji.assign == 'ALL' or manji.assign == s.platoons %}
                            <button class="accordion">                                        
                                            <div class="up">
                                                <div class="headss">
                                                    <i class="fa-solid fa-user-shield"></i><br>&nbsp;
                                                    <div class="dts">
                                                        <h2>NSTP Staff</h2>
                                                        <h4>{{manji.date_posted}}</h4>

                                                    </div>
                                                
                                                </div>
                                                <h5>{{manji.subject}}</h5>

                                            </div>
                                        </button>
                            <div class="panel"><br>
                                <p>{{manji.content}}</p>
                            </div>
                            {% else %} {% endif %} {% endfor %} {% elif manji.subject == '' %} {% endif %} {% endfor %}

                        </div>


                    </div>
                    <div class="recent-files box">
                        <div class="title"><i class="fa-solid fa-scroll"></i> Attendance Record</div>
                        <hr>
                        <br>
                        <div id="container" style="width: 100%; ">
                            <canvas id="pie-chart"></canvas>
                        </div><br> {% for s in name %}{% if s.first_sem == 'ENROLLED' and s.percentage1 != '' %}
                        <h1>{{s.percentage1 }} %</h1>
                        <h5>Current Score</h5>
                        <br>
                        <div class="st">
                            <span id="spresent"><i class="fa-solid fa-circle"></i> {{s.pres1|floatformat:0}} Present Days</span><br>
                            <span id="sabsent"><i class="fa-solid fa-circle"></i> {{s.abs1|floatformat:0}} Absent Days</span>
                        </div>

                        {% elif s.second_sem == 'ENROLLED' and s.percentage2 != '' %}
                        <h1>{{s.percentage2 }} %</h1>
                        <h5 style="color:red;">Current Score</h5>
                        <br>
                        <div class="st">
                            <span id="spresent"><i class="fa-solid fa-circle"></i> {{s.pres2|floatformat:0}} Present Days</span><br>
                            <span id="sabsent"><i class="fa-solid fa-circle"></i> {{s.abs2|floatformat:0}} Absent Days</span>
                        </div>

                        {% else %}
                        <h5><i class="fa-solid fa-face-frown-open"></i> No Record yet</h5>
                        {% endif %} {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        {% comment %} <small id="smalls">@sentinels 2022</small> {% endcomment %}

    </section>



    <!-- <div class="custom-shape-divider-bottom-1669703185">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div> -->
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- <script>

    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [ {{absent|safe}} , {{present |safe}}],
          backgroundColor: [
             '#D0021B','#7ED321'
          ],
          label: {{labels | safe}}
        }],
        labels: {{labels | safe}}
      },
      options: {
        responsive: true
      }
    };
    

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
   
      window.myPie = new Chart(ctx, config);
    };

     </script>   -->


</body>

</html>