<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit profile</title>
    <link rel="stylesheet" href="../../static/css/editprofile.css">
</head>

<body>
    {% include 'activities/navbar.html' %}

    <section class="home-section">
        <div class="lines">
            <a href="/profile_page">
                <h1 class="text"><i class='bx bx-user'></i>User Profile</h1>
            </a>
            <a href="/editprofile">
                <i class='bx bxs-chevron-right' id="spacer"></i>
                <h1 class="text"><i class='bx bx-edit' id="edit"></i>Edit Profile</h1><br></a>
        </div>

        <div class="bg">
            <div class="profile">
                <div class="first">
                    <div class="left"><br>&nbsp;<br>&nbsp;<br>
                        <img src="../../static/images/profile.jpg" id="picture"><br>
                        <h1 class="name" id="name">Christian Rapal</h1>
                        <p class="name">TUPC-18-0168</p>
                    </div>
                    <div class="right">
                        <div class="cool" id="part1">

                            <div class="blocks">
                                <h1 class="ti">Personal Information</h1>
                                <!-- <a href="/editprofile" style="text-decoration: none;"><i class='bx bx-edit' id="edit"></i> Edit Profile</a> -->
                            </div>

                            <hr>
                            <div class="block">
                                <label>Gender: </label>
                                <select name="gender" id="status" class="tag">
                                    <option selected="selected" disabled></option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>

                            <div class="block">
                                <label>Course/Section: </label>
                                <input class="tag" type="text" placeholder="BET-COET-S4A">
                            </div>
                            <div class="block">
                                <label>Email: </label>
                                <input type="email" class="tag">
                            </div>
                            <div class="block">
                                <label>Age: </label>
                                <input type="number" class="tag">
                            </div>
                            <div class="block">
                                <label>Civil Status: </label>
                                <select name="civil" class="tag">
                                    <option selected="selected" disabled></option>
                                    <option value="single">Single</option>
                                    <option value="married">Married</option>
                                    <option value="divorced">Divorced</option>
                                </select>
                            </div>
                            <div class="block">
                                <label>Phone Number: </label>
                                <p class="tag">09959966668</p>
                            </div>
                            <div class="block">
                                <label>Address: </label>
                                <p class="tag">Blk 3 lot 9 victoria reyes dasmarinas cavite</p>
                            </div>
                            <div class="block">
                                <label>Birthday: </label>
                                <p class="tag">January 4, 2000</p>
                            </div>&nbsp;<br>&nbsp;<br>


                            <!-- FAMILYYYYYYYYYYYYYY -->
                            <div class="blocks">
                                <h1 class="ti">Family Background</h1>

                            </div>
                            <hr>

                            <div class="block">
                                <label>Father's Name: </label>
                                <p class="tag">Roberto D. Rapal</p>
                            </div>

                            <div class="block">
                                <label>Father's Occupation: </label>
                                <p class="tag">Farmer</p>
                            </div>

                            <div class="block">
                                <label>Mother's Name: </label>
                                <p class="tag">Marilyn C. Rapal</p>
                            </div>

                            <div class="block">
                                <label>Mother's Occupation: </label>
                                <p class="tag">Housewife</p>
                            </div>
                            <div class="block">
                                <label>Parent's Contact: </label>
                                <p class="tag">09103264151</p>
                            </div>&nbsp;<br>

                            <div class="block">
                                <label>Guardian's Name: </label>
                                <p class="tag">Helen R. Montemar</p>
                            </div>

                            <div class="block">
                                <label>Guardian's Occupation: </label>
                                <p class="tag">Self Employed</p>
                            </div>
                            <div class="block">
                                <label>Guardian's Contact: </label>
                                <p class="tag">09103264151</p>
                            </div>
                            <hr>

                            <!-- OTHERSSSSSSSSSSSSSS -->



                        </div>




                    </div>

                </div>

            </div>


        </div>


        <!-- whole body -->










    </section>

</body>

</html>