<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Platoons</title>
    <link rel="stylesheet" href="../../static/admin_css/edit_manage.css">
    <link rel="icon" href="../../static/images/tup.png">


    <!-- icon for seacrch -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
    <!-- 
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> -->

    <link rel="stylesheet" href="../../static/admin_css/minmin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    {% include 'activities/admin_nav.html' %}
    <!-- modal for sections -->




    <!-- EOF MODAL -->

    <!-- MODAL FOR PICTURES -->



    <!-- eof modal for puictures  -->
    <section class="home-section">
        <div class="heads">
            <a href="/create_platoon_page">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Students &nbsp;|</h1>
            </a>
            {% for s in datas %}
            <h1 class="text"><i class='bx bx-intersect'></i>User: {{s.idnumber}}
            </h1>
            {% endfor %}

        </div>
        <div class="bg">
            {% for s in datas %}
            <div class="overall">
                <div class="left">
                    <div class="square">
                        <img src="{{s.picture.url}}" alt="user profile" id="profile_pic"><br>
                        <h2 id="name">{{s.firstname}} {{s.lastname}}</h2>
                        <h4 style="text-align: center;">Student</h4>
                        <br>
                        <button type="button" class="btn btn-dark" id="mess">Email Message</button>

                    </div>
                    <br>
                    <div class="square">
                        <h5 style="color: rgb(60, 60, 60);">Personal Informations</h5>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="inputPassword6"><i class='bx bxs-map'></i></label>
                                <input type="text" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" placeholder="Address" value="{{s.address}}">
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="inputPassword6"><i class='bx bxs-phone' ></i></label>
                                <input type="text" id="phone" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" placeholder="Phone" value="{{s.cpnumber}}">
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="inputPassword6"><i class='bx bxs-calendar' ></i></label>
                                <input type="text" id="birthday" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" placeholder="Birthday" value="{{s.birthday}}">
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="inputPassword6"><i class='bx bxs-user-plus'></i></label>
                                <input type="text" id="age" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" placeholder="Age" value="{{s.age}}">
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="inputPassword6"><i class='bx bxs-user-badge' ></i></label>
                                <input type="text" id="age" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" placeholder="Civil Status" value="{{s.civil}}">
                            </div>
                        </form>


                    </div>

                </div>
                <div class="mid">
                    <div class="square">
                        <h5 style="color: rgb(60, 60, 60);">Other Information</h5><br>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="inputPassword6">Father's Name:</label>
                                <input type="text" id="address1" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" placeholder="Fathers Fullname">
                            </div>
                        </form>

                    </div>

                </div>
                <div class="right">
                    <div class="square">
                        <h5 style="color: rgb(60, 60, 60);">Other Information</h5><br>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="inputPassword6">Father's Name:</label>
                                <input type="text" id="address1" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" placeholder="Fathers Fullname" value="{{s.nfather}}">
                            </div>
                        </form>

                    </div>

                </div>

            </div>
            {% endfor %}

        </div>
    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- <script>
        {% for msg in messages %}
        Swal.fire({
            icon: 'success',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>    -->
    <!-- search  -->
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];

                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <script type="text/javascript">
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('myTable');
            var wb = XLSX.utils.table_to_book(elt, {
                sheet: "sheet1"
            });
            return dl ?
                XLSX.write(wb, {
                    bookType: type,
                    bookSST: true,
                    type: 'base64'
                }) :
                XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
        }
    </script>


    <!-- <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').dataTable();
        });
    </script> -->

    <script src="../../static/js/pag.js"></script>
    <script src="../../static/js/datbot.js"></script>
    <script src="../../static/js/dat.js"></script>
    <script>
        $(document).ready(function() {
            $('#table1').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>

</body>

</html>