<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file manager</title>
    <link rel="stylesheet" href="../../static/css/file_manager.css">
</head>

<body>
    {% include 'activities/navbar.html' %}

    <section class="home-section">
        <div class="lines">
            <a href="/profile_page">
                <h1 class="text"><i class='bx bx-folder'></i> File Manager</h1>
            </a>
        </div>
        <div class="bg">
            <div class="conts">
                <div class="first">
                    <div class="cards">
                        <div class="head">
                            <h1 class="tit" style="text-decoration: none;">ROTC</h1><br>
                            <img src="../../static/images/file.png" class="icons">

                        </div>
                        <div class="botm">
                            <a href="#" class="open">Open</a>

                        </div>

                    </div>


                    <div class="cards">
                        <div class="head">
                            <h1 class="tit">CWTS</h1><br>
                            <img src="../../static/images/file.png" class="icons">


                        </div>
                        <div class="botm">
                            <a href="#" class="open">Open</a>

                        </div>
                    </div>


                </div>

            </div>



        </div>







    </section>

</body>

</html>