<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/admin_css/grades.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="home-section">
        <div class="heads">
            <a href="/sample_attendance">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Grades</h1>
            </a>

        </div>
        <div class="bg">
            <div class="overall1">
                <div class="left">
                    <div class="tss">
                        <div class="txt ">
                            <h1 style="margin-left: 10px; font-size:20px; color:#ffffff; font-weight:bold;" id="mega">Criteria Settings</h1>
                        </div>
                    </div>
                    <hr style="color: white !important;">
                    <!-- ############################### -->



                </div>



            </div><br>

            <div class="overall">
                <div class="left">
                    <div class="tss">


                        <div class="txt ">
                            <h1 style="margin-left: 10px; font-size:20px; color:#ffffff; font-weight:bold;" id="mega">Modify grades</h1>

                        </div>



                    </div>

                    <hr>

                    <div class="row">
                        {% for s in section %}
                        <form action="{% url 'activities:modify_grades'%}" class="column" style="text-decoration: none;" method="POST">
                            {% csrf_token %} {% if s.fiel == 'ROTC' %}
                            <div class="card">
                                <img src="../../static/images/236.png" alt="ROTC LOGO" id="ro_logo">
                                <h5 class="title ">{{s.section_created}}</h5>
                                <input type="hidden" value="{{s.section_created}}" name="getSection"><br>
                                <button type="submit" class="btn btn-dark">Open</button><br>
                                <p class="card-text"><small class="text-muted">Created for ROTC Only</small></p>
                            </div>
                            {% elif s.fiel == 'CWTS' %}
                            <div class="card">
                                <img src="../../static/images/tup.png" alt="ROTC LOGO" id="ro_logo">
                                <h5 class="title ">{{s.section_created}}</h5>
                                <input type="hidden" value="{{s.section_created}}" name="getSection"><br>
                                <button type="submit" class="btn btn-dark">Open</button><br>
                                <p class="card-text"><small class="text-muted">Created for CWTS Only</small></p>
                            </div>
                            {% endif %}
                        </form>
                        {% endfor %}
                    </div>



                </div>
            </div>
            <br>


        </div>
    </section>

</body>

</html>