<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/admin_css/grades.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="home-section">
        <div class="heads">
            <a href="/grades">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Grades</h1>
            </a>

        </div>
        <div class="bg">
            <div class="overall1">
                <div class="left">
                    <div class="tss">
                        <div class="txt ">
                            <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold; " id="mega"><i class='bx bxs-right-arrow'></i> Criteria Settings</h1>
                        </div>
                    </div>
                    <hr style="color: white !important;">
                    <!-- ############################### -->
                    <div class="cri">


                        <div class="left2">
                            <h5 class="bold">Set Activities</h5>
                            <hr>
                            <form action="{% url 'activities:set_activities' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Activity title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="staticEmail" placeholder="Ex: AFP Basics" name="title" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Item Count</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inputPassword" placeholder="Ex: 100" name="count" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Activity Number</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inputPassword" placeholder="Ex: 2" name="numbers" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-info">Set Activity</button>
                                    </div>
                                </div>

                            </form>


                        </div>
                        <div class="right2">
                            <h5 class="bold">Activity List</h5>
                            <hr>

                        </div>
                    </div>




                </div>



            </div><br>

            <div class="overall">
                <div class="left">
                    <div class="tss">


                        <div class="txt ">
                            <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold;" id="mega">Modify grades</h1>

                        </div>



                    </div>

                    <hr>

                    <div class="row">
                        {% for s in section %}
                        <form action="{% url 'activities:modify_grades'%}" class="column" style="text-decoration: none;" method="POST">
                            {% csrf_token %} {% if s.fiel == 'ROTC' %}
                            <div class="card">
                                <img src="../../static/images/236.png" alt="ROTC LOGO" id="ro_logo">
                                <h5 class="title ">{{s.section_created}}</h5>
                                <input type="hidden" value="{{s.section_created}}" name="getSection"><br>
                                <button type="submit" class="btn btn-dark">Open</button><br>
                                <p class="card-text"><small class="text-muted">Created for ROTC Only</small></p>
                            </div>
                            {% elif s.fiel == 'CWTS' %}
                            <div class="card">
                                <img src="../../static/images/tup.png" alt="ROTC LOGO" id="ro_logo">
                                <h5 class="title ">{{s.section_created}}</h5>
                                <input type="hidden" value="{{s.section_created}}" name="getSection"><br>
                                <button type="submit" class="btn btn-dark">Open</button><br>
                                <p class="card-text"><small class="text-muted">Created for CWTS Only</small></p>
                            </div>
                            {% endif %}
                        </form>
                        {% endfor %}
                    </div>



                </div>
            </div>
            <br>


        </div>
    </section>

</body>

</html>