<!DOCTYPE html>
<html lang="en">

<head>
    <title>Landing Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>
    <div class="banner">
        <div class="navbar">
            <img src="" class="logo" alt="ROTC LOGO" />
            <ul>
                <!--  <li><a href="#">Home</a></li> -->
                <li><a href="#">About</a></li>
                <li><a href="#">ROTC</a></li>
                <li><a href="#">CWTS</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>WELCOME TO NSTP</h1>
            <p>
                be part of ROTC officer/cadets or an CWTS and pass the trial together with your classmates <br />What are youy waiting for, Join Now!
            </p>
            <div>
                <!-- <button type="button"><span></span>Signin</button>
          <button type="button"><span></span>Signup</button> -->
                <a href="/login_page">
                    <button type="button" class="btn btn-info">Sign-in</button>
                </a>
                <a href="/signup_page">


                    <button type="button" class="btn btn-info">Signup</button></a>
            </div>

        </div>
    </div>

    <!-- <div class="container-fluid seconddiv" id="second">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
  </div> -->


    <script>
        window.smoothScroll = function(target) {
            var scrollContainer = target;
            do { //find scroll container
                scrollContainer = scrollContainer.parentNode;
                if (!scrollContainer) return;
                scrollContainer.scrollTop += 1;
            } while (scrollContainer.scrollTop == 0);

            var targetY = 0;
            do { //find the top of target relatively to the container
                if (target == scrollContainer) break;
                targetY += target.offsetTop;
            } while (target = target.offsetParent);

            scroll = function(c, a, b, i) {
                    i++;
                    if (i > 30) return;
                    c.scrollTop = a + (b - a) / 30 * i;
                    setTimeout(function() {
                        scroll(c, a, b, i);
                    }, 20);
                }
                // start scrolling
            scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
        }
    </script>


</body>

</html>