<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finals</title>
    <link rel="stylesheet" href="../../static/admin_css/merits.css">

    <link rel="stylesheet" href="../../static/admin_css/minmin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>
    {% include 'activities/admin_nav.html' %}


    <section class="home-section">
        <div class="heads">
            <a href="/grades">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Grades &nbsp;|&nbsp;<i class='bx bxs-dashboard'></i> Merits</h1>
            </a>

        </div>

        <br>




        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/grades">Activities</a>
            </li>
            <li class="nav-item dropdown">

            </li>
            <li class="nav-item">
                <a class="nav-link " href="/attendance_tab">Attendance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/merits">Merits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/midterms">Midterm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/finals_">Finals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/final_grade">Final Grade</a>
            </li>
        </ul>




        <div class="bg">


            <div class="overall" style="width: 100% !important;">
                <div class="left">
                    <div class="tss">


                        <div class="txt ">
                            <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold;" id="mega"><i class='bx bx-subdirectory-right'></i> Merits / Demerits</h1>

                        </div>



                    </div>

                    <hr>

                    <div class="row">
                        {% for s in section2 %}
                        <form action="{% url 'activities:access_merits'%}" class="column" style="text-decoration: none;" method="POST">
                            {% csrf_token %} {% if s.fiel == 'ROTC' %}
                            <div class="card">
                                <img src="../../static/images/236.png" alt="ROTC LOGO" id="ro_logo">
                                <h5 class="title ">{{s.section_created}}</h5>
                                <input type="hidden" value="{{s.section_created}}" name="getSection"><br>
                                <button type="submit" class="btn btn-dark">Open</button><br>

                            </div>
                            {% elif s.fiel == 'CWTS' %}
                            <div class="card">
                                <img src="../../static/images/tup.png" alt="ROTC LOGO" id="ro_logo">
                                <h5 class="title ">{{s.section_created}}</h5>
                                <input type="hidden" value="{{s.section_created}}" name="getSection"><br>
                                <button type="submit" class="btn btn-dark">Open</button><br>

                            </div>
                            {% endif %}
                        </form>
                        {% endfor %}
                    </div>




                </div>
            </div>

            <!-- 
            <div class="overall1">


                <div class="cri">


                    <div class="left2">
                        <div class="sec">
                            <div class="txt ">
                                <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold;" id="mega"><i class='bx bx-subdirectory-right'></i>Finals Exam</h1>

                            </div>


                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class='bx bx-plus' ></i>  Add Finals</button>

                        </div>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover " id="myTable2">
                                <thead class="thead">
                                    <tr>
                                        <th scope="col">Semester</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Items</th>
                                        <th scope="col" style="text-align: center !important; width:120px !important;">Action</th>

                                    </tr>
                                </thead>


                                <tbody>
                                    {% for s in acts3 %}
                                    <tr>
                                        <td>{{s.semester}}</td>
                                        <td>{{s.date}}</td>
                                        <td>{{s.items}}</td>
                                        <td style="justify-content: space-between; display:flex;">
                                            <a href="/delete_finals/{{s.id}}" id="del_act" class="btn btn-danger" title="Delete"><i class='bx bx-trash'></i></a>

                                        </td>

                                    </tr>

                                    {% endfor %}
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>




            </div> -->

        </div>
    </section>
    <script src="../../static/js/pag.js"></script>
    <script src="../../static/js/datbot.js"></script>
    <script src="../../static/js/dat.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable2').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>
        {% for msg in messages %}
        Swal.fire({
            icon: '',
            text: '{{ msg }}'
        }) {% endfor %}
    </script> -->

    <script>
        $('.btn-danger').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    location.href = self.attr('href')
                }
            })
        })
    </script>



</body>

</html>