<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>platoon content</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/modify.css">
    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">

    <link rel="stylesheet" href="../../static/admin_css/minmin.css">

    <!-- pagination css -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> -->


</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="home-section">
        <div class="heads">

            <a href="/finals_">
                <h1 class="text"><i class='bx bxs-dashboard'></i>FINAL EXAM &nbsp;>&nbsp;</h1>
            </a>


            <h1 class="text"><i class='bx bx-intersect'></i>{{getSection}}
            </h1>

        </div>
        <div class="bg">

            <div class="inside">


                <div class="table-responsive">
                    <div class="he">

                        <div class="ada">
                            <h1 style="margin-left: 10px; font-size:20px; color:#000000; font-weight:bold;" id="mega"><i class='bx bx-subdirectory-right'></i> Finals Grading</h1>
                            <!-- gshshsfhfs -->
                            {% for s in first %}
                            <p id="total" style="display: none;">{{s.items}}</p>
                            {% endfor %}
                        </div>

                        <div class="adda">
                            <form action="{% url 'activities:download' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{getSection}}" name="cate">
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="dl"><i class='bx bxs-download' ></i> Download List</button>
                                <!-- <a href="{% url 'activities:add_students' %}" class="btn btn-success" style="width: 100%;" target="_blank">Add Student</a> -->
                            </form>
                            <form action="{% url 'activities:add_students' %}" method="POST" target="_new">
                                {% csrf_token %}
                                <input type="hidden" value="{{getSection}}" name="platoon">
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="adds"><i class='bx bx-plus'></i> Export</button>
                                <!-- <a href="{% url 'activities:add_students' %}" class="btn btn-success" style="width: 100%;" target="_blank">Add Student</a> -->
                            </form>




                        </div>


                    </div>
                    <br>
                    <form action="{% url 'activities:save_finals' %}" method="POST">
                        {% csrf_token %}
                        <table id="tblProducts" class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th>ID Number</th>
                                    <th>Full name</th>
                                    <th>Final Exam Result</th>
                                    <th>Items</th>
                                    <th class="result">Credits</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in content4 %}{% if s.first_sem == 'ENROLLED' %}
                                <tr>
                                    <td>{{s.idnumber}} <input type="hidden" value="{{s.id}}" name="ids"></td>
                                    <td>{{s.lastname}} {{s.firstname}}</td>
                                    <td><input type="text" class="finals1 form-control" value="{{s.finals1}}" name="finals1" placeholder="First Sem Final Result" /></td>
                                    {% for s in first %}
                                    <td><input type="text" class="items form-control" value="{{s.items}}" name="items" readonly/></td>
                                    {% endfor %}
                                    <td class="result"><input type="text" class="subtot1 form-control" value="{{s.finals_credits1}}" name="subtot1" readonly/></td>
                                </tr>
                                {% elif s.second_sem == 'ENROLLED' %}
                                <tr>
                                    <td>{{s.idnumber}} <input type="hidden" value="{{s.id}}" name="ids2"></td>
                                    <td>{{s.lastname}} {{s.firstname}}</td>
                                    <td><input type="text" class="finals2 form-control" value="{{s.finals2}}" name="finals2" /></td>
                                    {% for s in second %}
                                    <td><input type="text" class="items2 form-control" value="{{s.items}}" name="items2" readonly/></td>
                                    {% endfor %}
                                    <td class="result"><input type="text" class="subtot2 form-control" value="{{s.finals_credits2}}" name="subtot2" readonly /></td>
                                </tr>
                                {% endif %} {% endfor %}

                            </tbody>

                        </table><br>
                        <button class="btn btn-success" type="submit" style="width: 100%;" id="dl"><i class='bx bxs-save' ></i> Save Midterm</button>
                    </form>
                </div>
            </div>
            <br>

        </div>
    </section>




    <!-- for editing tables -->




    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>

        {% for msg in messages %}
        Swal.fire({
            icon: '{{msg.icon}}',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>   -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {

            var $tblrows = $("#tblProducts tbody tr");

            $tblrows.each(function(index) {
                var $tblrow = $(this);

                $tblrow.find('.finals1').on('change', function() {

                    var finals1 = $tblrow.find("[name=finals1]").val();
                    var items = $tblrow.find("[name=items]").val();
                    var subTotal = parseInt(finals1, 10) / parseFloat(items) * 100 * 0.15;

                    if (!isNaN(subTotal)) {

                        $tblrow.find('.subtot1').val(subTotal.toFixed(2));
                        var grandTotal = 0;

                        $(".subtot1").each(function() {
                            var stval = parseFloat($(this).val());
                            grandTotal += isNaN(stval) ? 0 : stval;
                        });

                        $('.grdtot').val(grandTotal.toFixed(2));
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(function() {

            var $tblrows = $("#tblProducts tbody tr");

            $tblrows.each(function(index) {
                var $tblrow = $(this);

                $tblrow.find('.finals2').on('change', function() {

                    var finals2 = $tblrow.find("[name=finals2]").val();
                    var items = $tblrow.find("[name=items2]").val();
                    var subTotal = parseInt(finals2, 10) / parseFloat(items) * 100 * 0.15;

                    if (!isNaN(subTotal)) {

                        $tblrow.find('.subtot2').val(subTotal.toFixed(2));
                        var grandTotal = 0;

                        $(".subtot2").each(function() {
                            var stval = parseFloat($(this).val());
                            grandTotal += isNaN(stval) ? 0 : stval;
                        });

                        $('.grdtot').val(grandTotal.toFixed(2));
                    }
                });
            });
        });
    </script>


    <script src="../../static/js/pag.js"></script>
    <script src="../../static/js/datbot.js"></script>
    <script src="../../static/js/dat.js"></script>
    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>



</body>

</html>