<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../static/images/tup.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/admin_css/open_sections.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
</head>

<body>


    {% include 'activities/admin_nav.html' %}

    <section class="home-section">
        <div class="heads">
            <a href="/sample_attendance">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Attendance &nbsp;|</h1>
            </a>
            {% comment %}
            <a href="/all_sections">
                <h1 class="text"><i class='bx bx-intersect'></i> SECTIONS &nbsp;|</h1>
            </a> {% endcomment %}

            <h1 class="text">{{getSection}}</h1>


        </div>
        <div class="bg">
            <div class="inside">

                <div class="table-responsive">
                    <div class="he">

                        <div class="ada">
                            <p1 style="margin-left:  10px;font-size:20px;  color:#000000;">Officially Enrolled Students</p1><br>
                            <p1 style="margin-left: 10px; font-size:15px; color:#ff0000; font-weight:bold;">{{counts}} Student/s</p1><br>
                            <!-- <p>date 1 {{date1}}</p>
                            <p>date 0 {{date0}}</p>
                            <p>{{td_count}}</p>
                            <p>{{student}}</p> -->
                        </div>

                        <div class="adda">
                            <form action="{% url 'activities:download5' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{getSection}}" name="cate">
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="dl"><i class='bx bxs-download' ></i> Download List</button>
                                <!-- <a href="{% url 'activities:add_students' %}" class="btn btn-success" style="width: 100%;" target="_blank">Add Student</a> -->
                            </form>

                        </div>


                    </div>
                    <br>
                    <form action="{% url 'activities:rec_attendance' %}" method="POST">
                        {% csrf_token %}
                        <table id="myTable" class="table table-bordered table-hover ">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">ID NUMBER</th>
                                    <th scope="col">FULL NAME</th>
                                    <th scope="col">EMAIL</th>

                                    <th scope="col">COURSE</th>
                                    <th scope="col">FIELD</th>
                                    <th scope="col">SECTION</th>
                                    <th scope="col">CHECK</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for s in student %}
                                <tr>
                                    <td>{{s.idnumber}}</td>
                                    <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}</td>
                                    <td>{{s.email}}</td>

                                    <td>{{s.section}}</td>
                                    {% if s.field == 'ROTC' %}
                                    <td style="color:red; font-weight:bolder;">{{s.field}}</td>
                                    {% elif s.field == 'CWTS' %}
                                    <td style="color:#4EC3D0;font-weight:bolder;">{{s.field}}</td>
                                    {% endif %}
                                    <td>{{s.platoons}}</td>
                                    {% if td_count == '1' %}
                                    <td style="text-align: center;">
                                        {% if s.TD1 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD1 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '2' %}
                                    <td style="text-align: center;">
                                        {% if s.TD2 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD2 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '3' %}
                                    <td style="text-align: center;">
                                        {% if s.TD3 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD3 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '4' %}
                                    <td style="text-align: center;">
                                        {% if s.TD4 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD4 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}"  disabled> Absent</label> {% endif %}
                                    </td>
                                    {% elif td_count == '5' %}
                                    <td style="text-align: center;">
                                        {% if s.TD5 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD5 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled>  Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '6' %}
                                    <td style="text-align: center;">
                                        {% if s.TD6 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD6 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '7' %}
                                    <td style="text-align: center;">
                                        {% if s.TD7 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD7 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>

                                    {% elif td_count == '8' %}
                                    <td style="text-align: center;">
                                        {% if s.TD8 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD8 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '9' %}
                                    <td style="text-align: center;">
                                        {% if s.TD9 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD9 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '10' %}
                                    <td style="text-align: center;">
                                        {% if s.TD10 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD10 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '11' %}
                                    <td style="text-align: center;">
                                        {% if s.TD11 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD11 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '12' %}
                                    <td style="text-align: center;">
                                        {% if s.TD12 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD12 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>

                                    {% elif td_count == '13' %}
                                    <td style="text-align: center;">
                                        {% if s.TD13 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD13 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>

                                    {% elif td_count == '14' %}
                                    <td style="text-align: center;">
                                        {% if s.TD14 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD14 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% elif td_count == '15' %}
                                    <td style="text-align: center;">
                                        {% if s.TD15 == '0' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" disabled > Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked disabled> Absent</label> {% elif s.TD15 == '' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}"> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked disabled> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" disabled> Absent</label> {% endif %}

                                    </td>
                                    {% endif %}
                                    <!-- 
                                    hfuysgfsgf -->
                                    <!-- {% for s in td_count %} {% if s.td_count == 1 %}

                                    <td style="text-align: center;">
                                        {% if s.TD1 == 'ABSENT' %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" > Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" checked> Absent</label> {% else %}
                                        <label for="check"><input type="checkbox" name="id4" id="check" value="{{s.id}}" checked> Present</label>
                                        <label for="check1"><input type="checkbox" name="id2" id="check1" value="{{s.id}}" > Absent</label> {% endif %}

                                    </td>
                                    {% endif %} {% endfor %} -->


                                </tr>
                                {% endfor %}
                            </tbody>
                            {% for s in td_count %}
                            <input type="hidden" name="td_counts" value="{{s.td_count}}"> {% endfor %}
                            <input type="hidden" value="{{date1}}" name="check1">
                            <input type="hidden" value="{{date0}}" name="check0">
                            <input type="hidden" value="{{td_count}}" name="td_count">

                        </table>


                        <button type="submit" class="btn btn-dark" id="save">Save</button>



                    </form>

                </div>
            </div>
            <br>

        </div>
    </section>




    <!-- for editing tables -->
    <script src="extensions/editable/bootstrap-table-editable.js"></script>



    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').dataTable();
        });
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>
        $('.btn-dark').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able edit this after saving\nPlease double check it\nThank you",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: 'maroon',

                confirmButtonText: 'Save it'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Done',
                        'Saved.',
                        'success'
                    )
                    location.href = self.attr('href="/all_sections"')
                }
            })
        })
    </script> -->

</body>

</html>