<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/profile.css">
    <link rel="icon" href="../../static/images/tup.png">
    <title>profile</title>
</head>

<body>
    {% include 'activities/navbar.html' %}

    <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    {% for s in details %}
                    <img src="{{s.picture.url}}" alt=""> {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <section class="page-content">
        <div class="heads">

            <a href="/profile_page">
                <h1 class="text"><i class='bx bxs-dashboard'></i>USER PROFILE &nbsp;>&nbsp;</h1>
            </a>


            <h1 class="text" style="color: rgb(0, 248, 0);"><i class='bx bx-intersect'></i>HEALTH
            </h1>

        </div>

        <br>
        <!-- whole body -->
        <div class="bg">
            {% for s in details %}
            <form action="{% url 'activities:edit_health' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="alls">
                    <h3>NSTP Profile Completion</h3>
                    <p><i class="fa-solid fa-location-crosshairs"></i> &nbsp;CQT Avenue Brgy. Salawag Dasmariñas City, Cavite, Dasmariñas, Philippines</p>

                </div>


                <!-- ghugaugdagg -->

                <h3><span id="bar">|</span><span id="student">HEALTH</span> <span>STATUS</span></h3>
                <div class="personal">
                    <div class="per_3">


                        <div class="details2">

                            <div class="form-row">
                                <div class="col-md-5 mb-3">
                                    <label for="exampleFormControlInput1">Sickness</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" value="{{s.sickness}}" name="sickness">
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="exampleFormControlInput1">Proof of your sickness</label>
                                    <input type="file" class="form-control" id="validationDefault02" value="" name="proof">
                                    <input type="hidden" name="ids" value="{{s.user_id}}">
                                </div>
                                <div class="col-md-3 mb-3">
                                    {% if s.proof.url != '' %}
                                    <a href="{{s.proof.url}}" target="_blank">Proof Submitted</a> {% else %}
                                    <a href="#" title="No submitted proof">Proof Submitted</a> {% endif %}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <br>

                <div class="buttons">
                    <div class="ehe">
                        <div>
                            <button type="submit" class="btn btn-info" id="mess" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Save</button>

                        </div>
                    </div>

                </div>


            </form>
            {% endfor %}
        </div>
    </section>

</body>

</html>