<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>platoon content</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/pl_content.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="home-section">
        <div class="heads">
            <a href="/manage_section">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Section</h1>
            </a>|

        </div>
        <div class="bg">
        </div>
    </section>




    <!-- for editing tables -->
    <script src="extensions/editable/bootstrap-table-editable.js"></script>

</body>

</html>