<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSTP</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/pl_content.css">
    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">


    <!-- pagination css -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <section class="page-content">
        <div class="heads">
            <a href="/manage_section">
                <h1 class="text"><i class='bx bxs-dashboard'></i> Manage Section &nbsp;>&nbsp; </h1>
            </a>

            <h1 class="text"><i class='bx bx-intersect'></i> {{getSection}}
            </h1>

        </div>
        <div class="bg">
            <div class="inside">

                <div class="table-responsives">
                    <div class="he">

                        <div class="ada">
                            <p1 style="margin-left:  10px;font-size:20px;  color:#000000;">Officially Enrolled Students</p1><br>
                            <p1 style="margin-left: 10px; font-size:15px; color:#ff0000; font-weight:bold;">{{content33}} Student/s</p1><br>
                        </div>

                        <div class="adda">
                            <!-- <form action="{% url 'activities:download' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{getSection}}" name="cate">
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="dl"><i class='bx bxs-download' ></i> Download List</button>
                                
                            </form>
                            <br>&nbsp;<br> -->
                            <form action="{% url 'activities:add_students' %}" method="POST" target="_new">
                                {% csrf_token %}
                                <input type="hidden" value="{{getSection}}" name="platoon">
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="adds"><i class='bx bx-plus'></i> Add Student</button>
                                <!-- <a href="{% url 'activities:add_students' %}" class="btn btn-success" style="width: 100%;" target="_blank">Add Student</a> -->
                            </form>
                        </div>


                    </div>
                    <br>

                    <div class="table-responsive">
                        <form action="{% url 'activities:get_all' %}" method="POST" id="form1">
                            {% csrf_token %}

                            <table id="myTable" class="table table-bordered table-hover">
                                <thead class="thead">
                                    <tr>
                                        <th scope="col"><input type="checkbox" class="form-control" id="allcb" name="allcb">Select All</th>

                                        <th scope="col">FULL NAME</th>
                                        <th scope="col">COURSE</th>
                                        <th scope="col">1st SEM GRADE</th>
                                        <th scope="col">2nd SEM GRADE</th>
                                        <th scope="col">1st SEM STATUS</th>
                                        <th scope="col">2nd SEM STATUS</th>
                                        <th scope="col">MEDICAL CONDITIONS</th>
                                        <th scope="col">MEDICAL PROOF</th>

                                        <th scope="col">NOTES</th>

                                        <th scope="col">ACTIONS</th>



                                    </tr>
                                </thead>

                                <tbody>
                                    {% for s in content3 %}{% if s.first_sem == 'ENROLLED' %}


                                    <tr>


                                        <td><input type="checkbox" class="form-control" id="cb" name="cbs" value="{{s.id}}"></td>

                                        <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}<input type="hidden" value="{{s.id}}" name="ids"></td>
                                        <td>{{s.section}} <input type="hidden" value="{{getSection}}" name="getSection"></td>
                                        <td>{{s.final_grade}}</td>
                                        <td>{{s.final_grade_2}}</td>
                                        <td>{{s.first_sem}}</td>
                                        <td>{{s.second_sem}}</td>
                                        {% if s.sickness != '' %}
                                        <td style="color:rgb(202, 0, 0); font-weight:bolder;"><textarea class="form-control" name="" id="" cols="30" rows="1" placeholder="Notes" readonly>{{s.sickness}}</textarea></td>
                                        {% if s.proof != '' %}
                                        <td>
                                            <a href="{{s.proof.url}}" target="_blank">Medical Proof</a>
                                        </td>
                                        {% else %}
                                        <td>
                                            <a href="#">No proof submitted</a>
                                        </td>
                                        {% endif %} {% else %}
                                        <td style="color:rgb(0, 153, 0); font-weight:bolder;">Physically Fit</td>

                                        <td style="color:rgb(0, 153, 0); font-weight:bolder;">Physically Fit</td>
                                        {% endif %}
                                        <td><textarea class="form-control" name="" id="" cols="30" rows="1" placeholder="Notes" readonly>{{s.note}}</textarea></td>

                                        <td><a class="btn btn-success" href="{% url 'activities:each_student' s.id %}"><i class="fa-solid fa-pen-to-square"></i>&nbsp;View</a></td>



                                    </tr>

                                    {% elif s.first_sem == 'COMPLETED' and s.second_sem == 'ENROLLED' %}

                                    <tr>

                                        {% csrf_token %}
                                        <td><input type="checkbox" class="form-control" id="cb" name="cbs2" value="{{s.id}}"></td>

                                        <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}<input type="hidden" value="{{s.id}}" name="ids"></td>
                                        <td>{{s.section}} <input type="hidden" value="{{getSection}}" name="getSection"></td>
                                        <td>{{s.final_grade}}</td>
                                        <td>{{s.final_grade_2}}</td>
                                        <td>{{s.first_sem}}</td>
                                        <td>{{s.second_sem}}</td>
                                        {% if s.sickness != '' %}
                                        <td style="color:rgb(202, 0, 0); font-weight:bolder;"><textarea class="form-control" name="" id="" cols="30" rows="1" placeholder="Notes" readonly>{{s.sickness}}</textarea></td>
                                        <td>
                                            <a href="{{s.proof.url}}" target="_blank">Medical Proof</a>
                                        </td>
                                        {% else %}
                                        <td style="color:rgb(0, 153, 0); font-weight:bolder;">Physically Fit</td>

                                        <td style="color:rgb(0, 153, 0); font-weight:bolder;">Physically Fit</td>
                                        {% endif %}
                                        <td><textarea class="form-control" name="" id="" cols="30" rows="1" placeholder="Notes" readonly></textarea></td>

                                        <td><a class="btn btn-success" href="{% url 'activities:each_student' s.id %}"><i class="fa-solid fa-pen-to-square"></i>&nbsp;View</a></td>



                                    </tr>
                                    {% elif s.first_sem == 'COMPLETED' and s.second_sem == 'COMPLETED' %}
                                    <tr>

                                        {% csrf_token %}
                                        <td><input type="checkbox" class="form-control" id="cb" name="cbs3" value="{{s.id}}"></td>

                                        <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}<input type="hidden" value="{{s.id}}" name="ids"></td>
                                        <td>{{s.section}} <input type="hidden" value="{{getSection}}" name="getSection"></td>
                                        <td>{{s.final_grade}}</td>
                                        <td>{{s.final_grade_2}}</td>
                                        <td>{{s.first_sem}}</td>
                                        <td>{{s.second_sem}}</td>
                                        {% if s.sickness != '' %}
                                        <td style="color:rgb(202, 0, 0); font-weight:bolder;"><textarea class="form-control" name="" id="" cols="30" rows="1" placeholder="Notes" readonly>{{s.sickness}}</textarea></td>
                                        <td>
                                            <a href="{{s.proof.url}}" target="_blank">Medical Proof</a>
                                        </td>
                                        {% else %}
                                        <td style="color:rgb(0, 153, 0); font-weight:bolder;">Physically Fit</td>

                                        <td style="color:rgb(0, 153, 0); font-weight:bolder;">Physically Fit</td>
                                        {% endif %}
                                        <td><textarea class="form-control" name="" id="" cols="30" rows="1" placeholder="Notes" readonly></textarea></td>

                                        <td><a class="btn btn-success" href="{% url 'activities:each_student' s.id %}"><i class="fa-solid fa-pen-to-square"></i>&nbsp;View</a></td>



                                    </tr>

                                    {% endif %} {% empty %} {% endfor %}
                                </tbody>





                            </table>

                            <hr>
                            <input type="checkbox" id="vehicle1" name="1st" value="COMPLETED" class="single-checkbox">
                            <label for="vehicle1">1st Sem Complete</label> &nbsp; &nbsp;

                            <input type="checkbox" id="vehicle2" name="2nd" value="COMPLETED" class="single-checkbox">
                            <label for="vehicle2">2nd Sem Complete</label> &nbsp; &nbsp;

                            <input type="checkbox" id="vehicle3" name="dropped" value="DROPPED" class="single-checkbox">
                            <label for="vehicle3" style="color: red;">DROP</label> &nbsp; &nbsp;

                            <input type="checkbox" id="vehicle3" name="graduate" value="GRADUATE" class="single-checkbox">
                            <label for="vehicle3" style="color: rgb(0, 83, 238);">GRADUATE</label> &nbsp; &nbsp;


                            <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Update</button><br>&nbsp;<br>
                        </form>
                        <!-- <button class="btn btn-primary" type="button" style="font-size: 11px !important;">1st Term Done</button> -->

                        <br>
                        <hr>
                        <!-- <div class="secttion_c">
                                <select name="options" id="sel" class="form-control" title="Options">
                                <option value="DROPPED">DROP</option>
                                <option value="GRADUATE">GRADUATE</option>
                                <option value="PENDING">UN-ENROLL</option>
                            </select>
                                <br>&nbsp;<br>
                                <button class="btn btn-success" type="submit" style="width: 100%;" id="dl2"><i class='bx bxs-save' ></i> Save </button>
                            </div> -->
                        <br>
                    </div>

                </div>
            </div>
            <br>

        </div>
    </section>




    <!-- for editing tables -->
    <script src="extensions/editable/bootstrap-table-editable.js"></script>



    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').dataTable();
        });
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>

        {% for msg in messages %}
        Swal.fire({
            icon: '{{msg.icon}}',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>   -->
    <script>
        $(function() {
            $("#allcb").click(function() {
                var chkBoxes = $("input[id^=cb]");
                chkBoxes.prop("checked", !chkBoxes.prop("checked"));
            });
        });
    </script>




    <script>
        var limit = 1;
        $('input.single-checkbox').on('change', function(evt) {
            if ($(this).siblings(':checked').length >= limit) {
                this.checked = false;
            }
        });
    </script>
</body>

</html>