<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>profile</title>
</head>

<body>
    {% include 'activities/navbar.html' %}


    <section class="home-section">

        <h1 class="text"><i class='bx bx-user'></i>User Profile</h1><br>


        <!-- whole body -->
        <div class="bg">
            <div class="profile">
                <div class="first">
                    <div class="left"><br>
                        <img src="../../static/images/profile.jpg" id="picture">

                    </div>

                    <div class="right">

                    </div>

                </div>

            </div>











        </div>

    </section>

</body>

</html>