<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{ redirect_to_login_immediately }} {% include 'activities/admin_nav.html' %}

    <section class="page-content">
        <div class="heads">
            <h1 class="text"><i class='bx bx-home'></i> NSTP STAFFS</h1><br>
            <h1 class="text" id="time"></h1>

        </div><br>
        <div class="bg">
        </div>
    </section>

</body>

</html>