<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students_list</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/student_list.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>


    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">

    <!-- <link rel="stylesheet" href="../../static/admin_css/admin_nav.css"> -->



    <!-- pagination css -->

    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">



</head>

<body>


    <br>

    <div class="table-responsive">
        <div class="he">

            <div class="ada">
                <p1 style="margin-left: 10px; color:#000000;">Enrolled Students</p1><br>&nbsp;
                <h1 style="margin-left: 10px; font-size:30px; color:#ff7300">Select Student/s for {{platoon}}</h1><br>
            </div>
        </div>
        <br>
        <form action="{% url 'activities:assign_section' %}" method="POST">
            {% csrf_token %}
            <table id="myTable2" class="table table-bordered table-hover ">
                <thead class="thead">
                    <tr>
                        <tr>
                            <th scope="col"><input type="checkbox" class="form-control" id="allcb" name="allcb">All</th>
                            <th scope="col">ID NUMBER</th>
                            <th scope="col">FULL NAME</th>
                            <th scope="col">COURSE</th>
                            <th scope="col">MEDICAL CONDITIONS</th>
                            <th scope="col">MEDICAL PROOF</th>

                            <th scope="col">NOTES</th>




                        </tr>


                    </tr>
                </thead>
                <tbody>
                    {% for s in allstudent %}
                    <tr>
                        <input type="hidden" value="{{platoon}}" name="platoons">
                        <td><input type="checkbox" class="form-control" id="cb" name="students[]" value="{{s.id}}"></td>
                        <td scope="row">{{s.idnumber}}</td>
                        <td>{{s.firstname}} {{s.middlename}} {{s.lastname}}<input type="hidden" value="{{s.id}}" name="ids"></td>
                        <td>{{s.section}} <input type="hidden" value="{{getSection}}" name="getSection"></td>
                        {% if s.sickness != '' %}
                        <td><textarea class="form-control" name="" id="" cols="30" rows="1" placeholder="Medical Condition" readonly style="color:rgb(223, 119, 0); font-weight:bolder;">{{s.sickness}}</textarea></td>
                        {% if s.proof != '' %}
                        <td>
                            <a href="{{s.proof.url}}" target="_blank">Medical Proof</a>
                        </td>
                        {% else %}
                        <td>
                            <a href="#">No proof submitted</a>
                        </td>
                        {% endif %} {% else %}
                        <td style="color:rgb(0, 153, 0); font-weight:bolder;">Physically Fit</td>

                        <td style="color:rgb(0, 153, 0); font-weight:bolder;">Physically Fit</td>
                        {% endif %}
                        <td><textarea class="form-control" name="" id="" cols="30" rows="1" placeholder="Notes" readonly>{{s.note}}</textarea></td>




                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if all_student %}

            <button type="submit" class="btn btn-success" style="width:100%; height:40px; font-size:15px;" id="confirmButton">Add to {{platoon}}</button> {% else %}

            <button type="submit" class="btn btn-success" style="width:100%; height:40px; font-size:15px;" id="confirmButton">Add to {{platoon}}</button> {% endif %}
        </form>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>




    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>
        { %
            for msg in messages %
        }
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Your work has been saved',
            showConfirmButton: false,
            timer: 1500
        }) { % endfor %
        }
    </script> -->


    <script>
        $(function() {
            $("#allcb").click(function() {
                var chkBoxes = $("input[id^=cb]");
                chkBoxes.prop("checked", !chkBoxes.prop("checked"));
            });
        });
    </script>


</body>

</html>