<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School years</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/sy.css">
    <!-- pagination css -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <!-- modals -->


    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class='bx bx-user-pin'></i> MANAGE SCHOOL YEARS</h1><br>
        </div>
        <div class="bg">
            <ul class="nav nav-tabs nav-pills nav-fill">
                <li class="nav-item">
                    <a href="/school_years" class="nav-link active">School Year</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/admin_staff">Officially Enrolled <i class='bx bxs-badge-check' style="vertical-align: middle;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_pending">Pending Enrollees <i class='bx bxs-time-five' style="vertical-align: middle;" ></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_rejected">Rejected <i class='bx bxs-user-minus' style="vertical-align: middle;"></i></a>
                </li>

            </ul>
            <br>




            <div class="inners">


                <div class="form-group">
                    <form action="{% url 'activities:create_sy' %}" method="POST">
                        {% csrf_token %}
                        <label for="exampleFormControlInput1" style="float: left;"><i class='bx bxs-calendar' style="vertical-align: midddle;"></i> Add School Year </label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="2022-2023" required name="year"><br>
                        <button type="submit" class="btn btn-primary"><i class='bx bx-plus' style="vertical-align: middle;"></i> Add School Year</button>
                    </form>


                </div>
                <br>
                <div class="form-group" id="fgroup">
                    <label for="exampleFormControlInput1" style="float: left;"><i class='bx bxs-calendar-check'  style="vertical-align: midddle;"></i>Current School Year</label><br>&nbsp;<br>
                    <div class="fors">

                        {% for s in s_years %} {% if s.years %}

                        <h1 class="yss" style="font-size: 28px;;">{{s.years}}</h1>
                        {% else%}

                        <h1 class="yss">None !</h1>
                        {% endif %} {% endfor %}

                    </div>


                </div>
                <br>
                <div class="form-group" id="fgroup">
                    <form action="{% url 'activities:update_sy' %}" method="POST">
                        {% csrf_token %}
                        <label for="exampleFormControlInput1" style="float: left;"><i class='bx bxs-info-circle' style="vertical-align: midddle;"></i> School Year Status </label>
                        <div class="hold">
                            {% for s in s_years %}
                            <div class="sh" style="width: 100%;">
                                <select name="status" id="statuss" class="form-control">
                                    <option value="{{s.status}}" selected >{{s.status}}</option>
                                    <option value="OPEN">OPEN</option>
                                    <option value="CLOSED">CLOSED</option>
                                    <option value="ENDED">ENDED</option>
                                </select>
                                <div class="sh2" style="width: 10%; margin:auto;">
                                    {% if s.status == 'OPEN' %}
                                    <i class='bx bxs-check-circle' style="font-size: 25px; color:rgb(18, 156, 0); "></i> {% elif s.status == 'CLOSED' %}

                                    <i class='bx bxs-x-circle' style="font-size: 25px; color:rgb(245, 78, 12); vertical-align:middle;"></i> {% elif s.status == 'ENDED' %}
                                    <i class='bx bx-history' style="font-size: 25px; color:rgb(202, 0, 0); vertical-align:middle;"></i> {% endif %}
                                </div>

                            </div>
                            <input type="hidden" value="{{s.id}}" name="current">
                            <input type="hidden" value="{{s.years}}" name="years"> {% endfor %}

                        </div>

                        <br>

                        <button type="submit" class="btn btn-primary"><i class='bx bx-check' style="vertical-align: midddle;"></i> Set Status</button>
                    </form>


                </div>




            </div>
        </div>
        <div class="inside">

            <div class="table-responsive">

                <p1 style=" color:#000000d4; font-size:14px;">School Year List and History:</p1><br>&nbsp;



                <table class="table table-bordered table-hover " id="myTable">
                    <thead class="thead">
                        <tr>
                            <th scope="col">SCHOOL YEARS</th>
                            <th scope="col">HISTORY</th>
                            <th scope="col">ACTIONS</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for s in ewan %} {% if s.years %}
                        <tr>
                            <td>{{ s.years }}</td>
                            <form action="{% url 'activities:allumni_content'  %}" method="POST">
                                {% csrf_token %}
                                <td style="text-align: center;">
                                    <input type="hidden" value="{{s.years}}" name="getYear">
                                    <button type="submit" class="btn btn-info" id="open"><i class='bx bx-history' ></i> Open History {{counted}}</button>
                                </td>
                            </form>

                            <td style="text-align: center;">

                                <div class="ehe">

                                    <input type="hidden" name="getID2" value="{{s.years}}">
                                    <a href="/delete_sy/{{s.id}}" class="btn btn-danger" title="Edit" id="del"><i class='bx bx-trash'></i> Delete</a>
                                </div>
                            </td>
                        </tr>


                        {% endif %} {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>
        {% for msg in messages %}
        Swal.fire({
            icon: '{{msg.icon}}',
            text: '{{ msg }}'
        }) {% endfor %}
    </script> -->

    <script>
        $('.btn-danger').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    location.href = self.attr('href')
                }
            })
        })
    </script>

    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').dataTable();
        });
    </script>


</body>

</html>