<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School years</title>
    <link rel="icon" href="../../static/images/tup.png">
    <link rel="stylesheet" href="../../static/admin_css/sy.css">
    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">
    <!-- pagination css -->
    <!-- for table pagination -->
    <link rel="stylesheet" href="../../static/admin_css/minmin.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <!-- modals -->

    <section class="page-content">
        <div class="heads">
            <h1 class="text"><i class='bx bx-time'></i> MANAGE SCHOOL YEAR</h1><br>
        </div>

        <div class="bg">
            <!-- <ul class="nav nav-tabs nav-pills nav-fill">
                <li class="nav-item">
                    <a href="/school_years" class="nav-link active" id="active">School Year</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/admin_staff">Officially Enrolled <i class='bx bxs-badge-check' style="vertical-align: middle;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_pending">Pending Enrollees <i class='bx bxs-time-five' style="vertical-align: middle;" ></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_rejected">Rejected <i class='bx bxs-user-minus' style="vertical-align: middle;"></i></a>
                </li>

            </ul>
            <br> -->




            <div class="inners">
                <div class="left">

                    <div class="left2">
                        <h2><i class="fa-regular fa-calendar-days"></i> &nbsp;Setting up of Academic Year</h2>
                        <small>This School year Created will reflect on <br> overall school years</small>

                    </div>
                    {% if request.user.is_superuser %}
                    <div class="right2">
                        <form action="{% url 'activities:create_sy' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group-sm">
                                <label id="labels">Start Year</label>
                                <input type="text" class="form-control " name="start" placeholder="2022" required minlength="4" maxlength="4" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">

                            </div>
                            <br>
                            <div class="form-group-sm">
                                <label id="labels">End Year</label>
                                <input type="text" class="form-control " name="end" placeholder="2023" required minlength="4" maxlength="4" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">

                            </div>
                            <br>

                            <button class="btn rapal"><i class="fa-solid fa-plus"></i> Create</button> &nbsp;
                            <br> &nbsp;
                            <hr>
                            <div class="current">
                                {% for s in s_years %}
                                <div class="form-group">
                                    <h2 class="lab">School Year</h2>
                                    <h2 class="data">{{s.years}}</h2>

                                </div>
                                <div class="form-group">
                                    <h2 class="lab">Registration Status</h2>
                                    {% if s.status == 'OPEN' %}
                                    <h2 class="data" id="open">{{s.status}} <span id="open"><i class="fa-solid fa-circle-check"></i></span></h2>
                                    {% else %}
                                    <h2 class="data">{{s.status}} <span id="closed"><i class="fa-solid fa-circle-minus"></i></span></h2>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <h2 class="lab">Term</h2>
                                    <h2 class="data" id="term">{{s.sem}}</h2>

                                </div>

                                {% endfor %}


                            </div>
                        </form>
                    </div>
                    {% else %}

                    <div class="right2">
                        <form action="{% url 'activities:create_sy' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group-sm">
                                <label id="labels">Start Year</label>
                                <input type="text" class="form-control " name="start" placeholder="2022" required minlength="4" maxlength="4" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));" readonly>

                            </div>
                            <br>
                            <div class="form-group-sm">
                                <label id="labels">End Year</label>
                                <input type="text" class="form-control " name="end" placeholder="2023" required minlength="4" maxlength="4" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));" readonly>

                            </div>
                            <br>

                            <button class="btn rapal" disabled readonly><i class="fa-solid fa-plus" ></i> Create</button> &nbsp;
                            <br> &nbsp;
                            <hr>
                            <div class="current">
                                {% for s in s_years %}
                                <div class="form-group">
                                    <h2 class="lab">School Year</h2>
                                    <h2 class="data">{{s.years}}</h2>

                                </div>
                                <div class="form-group">
                                    <h2 class="lab">Registration Status</h2>
                                    {% if s.status == 'OPEN' %}
                                    <h2 class="data" id="open">{{s.status}} <span id="open"><i class="fa-solid fa-circle-check"></i></span></h2>
                                    {% else %}
                                    <h2 class="data">{{s.status}} <span id="closed"><i class="fa-solid fa-circle-minus"></i></span></h2>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <h2 class="lab">Term</h2>
                                    <h2 class="data" id="term">{{s.sem}}</h2>

                                </div>

                                {% endfor %}


                            </div>
                        </form>
                    </div>

                    {% endif %}
                    
                </div>
                <div class="right">
                    <div class="right3">

                        <h2><i class="fa-regular fa-calendar-days"></i> &nbsp;Modify Academic Year</h2>
                        <small>Select School year you want to modify</small>
                    </div>
                    <br>

                    <div class="right4">
                        <form action="{% url 'activities:update_sel' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="">School Year</label>
                                <select name="year" id="" class="form-control" required>
                                <option value="" selected disabled>--Select Academic Year--</option>
                                {% for s in alls %}
                                    <option value="{{s.years}}">{{s.years}}</option>
                                {% endfor %}
                            </select>

                            </div>

                            <div class="form-group">

                                <label for="">Registration Status </label>

                                <select name="status" id="" class="form-control" required>
                                <option value="" selected disabled>--Select Status--</option>
                                <option value="OPEN">OPEN</option>
                                <option value="CLOSED">CLOSED</option>
                            </select>

                            </div>
                            <div class="form-group">
                                <label for="">Term</label>
                                <select name="sem" id="" class="form-control" required title="Select Semester">
                                <option value="" selected disabled>--Select Term--</option>
                                <option value="First Term">First Term</option>
                                <option value="Second Term">Second Term</option>
                            </select>

                            </div>

                            <button type="submit" class="btn rapal"><i class="fa-solid fa-arrows-rotate"></i> &nbsp;Update</button>
                        </form>
                    </div>


                </div>

            </div>

            <div class="inners">
                <div class="left22">
                    <h2><i class="fa-regular fa-calendar-days"></i> &nbsp;School Year List</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col">Enrollment Status</th>

                                    <th scope="col">School Year</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for s in alls %}
                                <tr>
                                    {% if s.status == 'OPEN' %}
                                    <th scope="row"><span id="open"><i class="fa-solid fa-circle-check"></i></span> Open</th>
                                    {% else %}
                                    <th scope="row"><span id="closed"><i class="fa-solid fa-circle-minus"></i></span> Closed</th>
                                    {% endif %}


                                    <td>{{s.years}}</td>
                                    <td id="bt">
                                        <a href="/delete_sy/{{s.years}}" class="btn del"><i class="fa-solid fa-trash-can"></i> &nbsp;Delete</a>
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>



        </div>
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% for msg in messages %}
        Swal.fire({
            icon: '{{msg.icon}}',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>

    <script>
        $('.del').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    location.href = self.attr('href')
                }
            })
        })
    </script>
    {% comment %}
    <script>
        $('.semester').on('click', function(e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'))

            Swal.fire({
                title: 'Are you sure?',
                text: "Changing Semester Will reflect to all Students\n",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',

                confirmButtonText: 'Yes, change it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Semester Changed',
                        '',
                        'success'
                    )

                }
            })
        })
    </script> {% endcomment %}

    <script src="../../static/js/pag.js"></script>
    <script src="../../static/js/datbot.js"></script>
    <script src="../../static/js/dat.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>


</body>

</html>