@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(29, 29, 29) 0%, rgba(0, 0, 0, 0.9444152661064426) 56%);
}

.heads .text i {
    color: #fb5800;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}


/* own css */

.container-fluid {
    width: 100%;
    height: 20vh;
}

.stats {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.cards {
    border-radius: 5px;
    /* background-color: #16a1b4; */
    height: 80%;
    width: 21%;
}

#red .more {
    background-color: #97202a;
}

#blue .more {
    background-color: #0e6672;
}

#yellow .more {
    background-color: #ac8102;
}

#green .more {
    background-color: #18662a;
}

#red {
    background-color: #da3442;
}

#blue {
    background-color: #16a1b4;
}

#yellow {
    background-color: #fbc007;
}

#green {
    background-color: #25a643;
}

.inside1 {
    display: flex;
    height: 80%;
}

.left {
    padding: 15px;
    width: 60%;
}

.left h1,
p {
    color: white;
}

.right {
    padding-top: 30px;
    width: 40%;
}

.more {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    /* width: 100%; */
    height: 20%;
}

.graph {
    opacity: 0.5;
    display: flex;
    margin: auto;
    width: 100px;
}

.info {
    color: white;
    width: 100%;
    margin: auto;
    text-align: center;
}

.info a {
    text-decoration: none !important;
    color: white;
}

.info a:hover {
    color: rgb(196, 196, 196);
}

.more i {
    vertical-align: middle;
}


/* announcements */

.inside2 {
    height: auto;
    padding: 18px;
}

.hes {
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.886), 0 6px 20px 0 rgba(94, 94, 94, 0.837);
    height: auto;
    font-size: 15px;
    padding: 10px;
    background-color: white;
}

#creates {
    font-size: 14px;
}

#mega {
    font-size: 25px !important;
    font-weight: bold;
}

#subject {
    height: 30px !important;
}

td textarea {
    border: none;
}

td textarea:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

td textarea:hover {
    background-color: transparent;
    outline: none;
    border: none;
}

#posted {
    color: #a30000;
}


/* modal */

.modal-dialog {
    width: 800px !important;
    background-color: #0e6672;
}

.for {
    display: flex;
    justify-content: space-between;
}

#new {
    background-color: #78000a !important;
    color: white;
    height: 50px;
    padding: 5px;
}

.bbt {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

@media screen and (min-width:360px)and (max-width:640px) {
    .stats {
        height: auto;
        padding: 10px;
        /* justify-content: space-between; */
        display: inline-table;
        width: 100%;
    }
    .cards {
        border-radius: 8px;
        width: 100%;
        margin: auto;
        height: 120px;
    }
    .left h1 {
        font-size: 16px;
    }
    #creates {
        font-size: 13px;
        text-align: center !important;
        font-style: italic;
    }
    #mega {
        font-size: 15px !important;
    }
    .container-fluid {
        height: auto;
    }
}

@media screen and (min-width:641px) and (max-width:1024px) {
    .stats {
        height: auto;
        padding: 10px;
        justify-content: space-between;
        display: inline-table;
        width: 100%;
    }
    .cards {
        border-radius: 8px;
        /* background-color: #16a1b4; */
        height: 100%;
        width: 100%;
    }
    .container-fluid {
        height: auto;
    }
}

@media screen and (min-width:1025px) and (max-width:1080px) {
    .stats {
        height: auto;
        padding: 10px;
        justify-content: space-between;
        display: inline-flex;
        width: 100%;
    }
    .left h1,
    p {
        color: white;
        font-size: 12px;
    }
    .graph {
        opacity: 0.5;
        display: flex;
        margin: auto;
        width: 60px;
    }
    .container-fluid {
        height: auto;
        width: 100%;
        height: auto;
    }
    .cards {
        border-radius: 8px;
        /* background-color: #16a1b4; */
        height: 20%;
        width: 20%;
        gap: 10px;
    }
}

@media screen and (min-width:1081px) and (max-width:1920px) {
    .stats {
        height: auto;
        padding: 10px;
        justify-content: space-between;
        display: inline-flex;
        width: 100%;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 11px;
    }
    .left h1 {
        font-size: 20px;
    }
    .container-fluid {
        height: auto;
        width: 100%;
        height: auto;
    }
    .cards {
        border-radius: 8px;
        /* background-color: #16a1b4; */
        height: 100%;
        width: 22%;
    }
    .right img {
        width: 50%;
    }
}

@media screen and (min-width:1366px) and (max-width:1920px) {
    .home-section .text {
        /* background: #c51c39; */
        display: inline-block;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        margin: 18px
    }
    .container-fluid {
        height: auto;
        width: 100%;
        height: auto;
    }
    .cards {
        border-radius: 8px;
        /* background-color: #16a1b4; */
        height: 20%;
        width: 22%;
        gap: 10px;
    }
    .right img {
        width: 50%;
    }
}