@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    justify-content: space-between;
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */


/* eof new */

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
    padding: 18px;
    height: auto;
}

.table-responsive {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table {
    background-color: rgb(255, 255, 255);
}

.table th,
td {
    text-align: center
}

.table #profile img {
    width: 50px;
    height: 50px;
}

.actions {
    display: flex;
    justify-content: center;
}

.tar {
    padding: 10px;
}

.approve {
    margin: auto;
    color: white;
    background-color: #36bda4;
    border: #1f8270 solid 2px;
    border-radius: 2px;
}

.decline {
    color: white;
    background-color: #f25370;
    border: #9a2036 solid 2px;
    border-radius: 2px;
}

.approve i {
    vertical-align: middle;
}


/* navs tabs */

.nav-item .nav-link {
    font-size: 15px;
    font-weight: bold;
    color: #33475B !important;
}

#active {
    background-color: #272727 !important;
    color: rgb(255, 255, 255) !important;
}

.filters {
    padding-top: 20px;
    display: flex;
    height: 100px;
}

.filter_in {
    padding-top: 20px;
    justify-content: space-between;
    width: 40%;
    display: flex;
}

.filters select {
    border-radius: 5px;
    height: 40px;
    width: 350px;
}

.sear {
    padding-top: 20px;
    width: 60%;
    float: right;
}

.sear input {
    width: 350px;
    float: right;
}

#myInput {
    border-radius: 5px;
    height: 40px;
}

.table-responsive {
    padding: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    background-color: #fff;
}

.table th {
    color: rgb(36, 36, 36);
    font-size: 15px;
    background-color: #222d325a !important;
}

.table td {
    font-size: 13px;
}

div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #c00;
}

#platoons {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

#platoons:focus {
    border-color: green;
}

@media screen and (min-width:1366px) and (max-width:1920px) {
    .home-section .text {
        /* background: #c51c39; */
        display: inline-block;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        margin: 18px
    }
}