@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(29, 29, 29) 0%, rgba(0, 0, 0, 0.9444152661064426) 56%);
}

.heads .text i {
    color: #fb5800;
}

.count {
    color: rgb(185, 2, 2);
    font-size: 30px;
    float: right;
}

.heads .text i {
    vertical-align: middle;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
    padding: 18px;
    height: auto;
}

.table-responsive {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table {
    background-color: rgb(255, 255, 255);
}

.table th,
td {
    text-align: center
}

.table #profile img {
    width: 50px;
    height: 50px;
}

.actions {
    justify-content: center;
    display: flex;
}

.ehe {
    padding: 10px;
}

.tar {
    padding: 10px;
}

.approve {
    margin: auto;
    height: 40px;
    color: white;
    background-color: #36bda4;
    width: 150px;
    border: #1f8270 solid 2px;
    border-radius: 2px;
}

.decline {
    height: 40px;
    color: white;
    background-color: #f25370;
    width: 150px;
    border: #9a2036 solid 2px;
    border-radius: 2px;
}

.approve i {
    vertical-align: middle;
}


/* navs tabs */

.nav-item .nav-link {
    font-size: 20px;
    font-weight: bold;
}

.filters {
    padding-top: 20px;
    display: flex;
    height: 100px;
}

.filter_in {
    padding-top: 20px;
    justify-content: space-between;
    width: 40%;
    display: flex;
}

.filters select {
    border-radius: 5px;
    height: 40px;
    width: 350px;
}

.sear {
    padding-top: 20px;
    width: 60%;
    float: right;
}

.sear input {
    width: 350px;
    float: right;
}

#myInput {
    border-radius: 5px;
    height: 40px;
}

.he {
    background: rgb(66, 102, 120);
    background: linear-gradient(90deg, rgba(66, 102, 120, 1) 3%, rgba(2, 0, 36, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.table th {
    color: rgb(228, 83, 83);
    font-size: 20px;
}


/* 
pager */

div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #c00;
}

@media screen and (min-width:1366px) and (max-width:1920px) {
    .home-section .text {
        /* background: #c51c39; */
        display: inline-block;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        margin: 18px
    }
}