@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(29, 29, 29) 0%, rgba(0, 0, 0, 0.9444152661064426) 56%);
}

.heads .text i {
    color: #fb5800;
}

.count {
    color: rgb(185, 2, 2);
    font-size: 30px;
    float: right;
}

#count {
    display: none !important;
}

.heads .text i {
    vertical-align: middle;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh;
    padding: 18px; */
    height: auto;
}

.inside {
    padding: 18px;
}

.table-responsive {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    font-size: 15px;
    padding: 10px;
    background-color: white;
}

.table {
    margin: auto;
    background-color: #aaaaaa;
    width: auto;
}

.table input {
    width: 60px !important;
    border: none;
}

.he p1,
h1 {
    width: auto;
    color: #616161;
}

.table th {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.hes {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    font-size: 15px;
    padding: 10px;
    background-color: white;
}


/* table colors and cuxxxtom */

#sele {
    color: white;
    width: 100% !important;
    height: 100% !important;
    border: hidden;
    padding: 5px;
    border-radius: 3px;
}

#sele:focus {
    border: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* checkboxes color */

#cb1 {
    accent-color: #ee1e1e;
}

#cb2 {
    accent-color: #19e212;
}

#cb3 {
    accent-color: #e74c3c;
}

.he {
    display: flex;
    justify-content: space-between;
}

.adda {
    width: 23%;
    float: right !important;
    padding: 5px;
    height: 50px;
}

#dl {
    width: 170px !important;
    float: right !important;
    font-size: 15px !important;
    height: 90%;
    background-color: #38707e !important;
    border-color: transparent !important;
}

#dd {
    float: right !important;
}


/* #calc {
    font-size: 15px !important;
    height: 90%;
    background-color: #400718 !important;
    border-color: transparent !important;
} */

#adds {
    float: right !important;
    width: 170px !important;
    font-size: 15px !important;
    height: 90%;
    background-color: #727c00 !important;
    border-color: transparent !important;
}

.present {
    padding: 3px;
    background-color: #036700;
    color: white;
}

.absent {
    background-color: #820000;
    color: white;
    padding: 3px;
}