@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: #616161;
}

.count {
    color: rgb(185, 2, 2);
    font-size: 30px;
    float: right;
}

.heads .text i {
    vertical-align: middle;
}

.headd {
    display: flex;
    justify-content: space-between;
}

.sear input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh;
    padding: 18px; */
    height: auto;
}


/* OWWWWWWWWWN CSSSS */

.tops {
    justify-content: space-between;
    padding: 18px;
    width: 100%;
    display: flex;
    min-height: 20vh;
}

.overall {
    justify-content: space-between;
    padding: 18px;
    width: 100%;
    display: flex;
    min-height: 100vh;
}

.left {
    min-height: 150vh !important;
    padding: 10px;
    padding-bottom: 20px !important;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 28%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left1 {
    color: white;
    border-radius: 5px;
    background: rgb(87, 4, 4);
    background: linear-gradient(90deg, rgba(87, 4, 4, 1) 0%, rgba(208, 10, 10, 1) 50%, rgba(131, 5, 5, 1) 100%);
    height: auto;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right1 {
    /* overflow-y: scroll;
    overflow-x: hidden; */
    height: auto;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    display: inline-block;
    justify-content: space-between;
    height: 90%;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
}

.card button {
    bottom: 0;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}