@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(29, 29, 29) 0%, rgba(0, 0, 0, 0.9444152661064426) 56%);
}

.heads .text i {
    color: #fb5800;
}

.heads .text i {
    vertical-align: middle;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-color: aqua;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 18px;
    display: flex;
}


/* own css */

.inside {
    padding: 5px;
    background-color: #fb5800;
    width: 50%;
}

.table-responsive {
    padding: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    background-color: #fff;
}

.table th {
    color: rgb(36, 36, 36);
    font-size: 15px;
    background-color: #222d325a !important;
}

.table td {
    font-size: 13px;
}