@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(29, 29, 29) 0%, rgba(0, 0, 0, 0.9444152661064426) 56%);
}

.heads .text i {
    color: #fb5800;
}

.count {
    color: rgb(185, 2, 2);
    font-size: 30px;
    float: right;
}

#count {
    display: none !important;
}

.heads .text i {
    vertical-align: middle;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh;
    padding: 18px; */
    height: auto;
    justify-content: space-between;
    display: flex;
    padding: 20px !important;
}

.overall {
    padding: 10px;
    width: 70%;
    height: 100vh !important;
    overflow-y: scroll;
}

.overall1 {
    padding: 10px;
    width: 30%;
    height: 100vh !important;
    overflow-y: scroll;
}

.left {
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(94, 94, 94, 0.382);
}

.column {
    width: 15%;
    padding: 5px;
    padding-top: 20px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
    padding: 40px;
    justify-content: space-between;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tss {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.txt {
    float: left;
}

.btn {
    float: right;
}

#ro_logo {
    width: 60px;
    margin: auto;
}

#new {
    background-color: #78000a !important;
    color: white;
    height: 50px;
    padding: 5px;
}

.table-responsive {
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: red;
    /* make scrollbar transparent */
}

.table-responsive tr th {
    font-size: 13px !important;
    color: #242424;
}

.table-responsive tr td input {
    font-size: 13px !important;
    color: #242424;
}


/* for modal only */

.modal-title {
    color: rgb(61, 61, 61);
    font-weight: bolder;
}


/* Responsive columns */

@media only screen and (max-width: 486px) {
    .nav-item a {
        font-size: 10px;
    }
    .bg {
        display: block !important;
    }
    .overall {
        width: 100%;
    }
    .column {
        width: 100%;
    }
    .table-responsive {
        overflow-x: scroll;
    }
    .overall1 {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    .nav-item a {
        font-size: 13px;
    }
    .bg {
        display: block !important;
    }
    .overall {
        width: 100%;
    }
    .column {
        width: 100%;
    }
    .overall1 {
        width: 100%;
    }
    .table {
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 721px) and (max-width: 1080px) {
    .nav-item a {
        font-size: 13px;
    }
    .bg {
        display: block !important;
    }
    .overall {
        width: 100%;
    }
    .column {
        width: 50%;
    }
    .overall1 {
        width: 100%;
    }
    .table {
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 1081px) and (max-width: 1920px) {
    .nav-item a {
        font-size: 13px;
    }
    .bg {
        display: flex !important;
    }
    .overall {
        width: 100%;
    }
    .column {
        width: 30%;
    }
    .overall1 {
        width: 100%;
    }
    .table {
        overflow-x: scroll;
    }
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #F7F7F7 !important;
}

.rights {
    width: 65%;
    float: left;
}

.cri {
    border-radius: 2px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tit {
    color: rgb(127, 23, 23);
    height: auto;
}

.left2 {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(94, 94, 94, 0.382);
}

.bold {
    font-weight: bold;
}

#mega i {
    font-weight: bolder;
    font-size: 20px !important;
}

.nav {
    padding: 10px !important;
    font-weight: bold;
}

.sec {
    display: flex;
    justify-content: space-between;
}

#del_act i {
    color: #F7F7F7;
}

#del_act {
    margin: auto !important;
}

#hehes {
    width: 20%;
}

.inputs {
    width: 100%;
    border: none;
    outline: none;
}

.inputs:focus {
    border: none;
    outline: none;
}

.inputs1 {
    width: 40px !important;
    border: none;
    outline: none;
}

.inputs:focus1 {
    border: none;
    outline: none;
}

.td {
    outline: none;
    border: none;
}

.td:focus {
    outline: none;
}