@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */

.count {
    color: rgb(185, 2, 2);
    font-size: 30px;
    float: right;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh;
    padding: 18px; */
    height: auto;
}


/* own css */

.inside {
    padding: 18px;
}

.inside1 {
    min-height: 100vh;
    padding: 18px;
}


/* table */

.table #profile img {
    width: 50px;
}

.table-responsive {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.815), 0 6px 20px 0 rgba(0, 0, 0, 0.774);
    height: auto;
    font-size: 15px;
    padding: 10px;
    background-color: white;
}

.table {
    margin: auto;
    background-color: #aaaaaa;
    width: auto;
}

.he {
    display: flex;
    justify-content: space-between;
}

.adda {
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.562);
    border-radius: 5px;
}

.adda form {
    display: flex;
    justify-content: space-between;
}

.adda form .btn {
    width: 200px !important;
}

.adda form #file {
    width: 500px !important;
}

#dl {
    background-color: #006b86;
    background-color: #006b86 !important;
    border-color: transparent !important;
}

.he p1,
h1 {
    width: auto;
    color: #616161;
}

.table th {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.hes {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    font-size: 15px;
    padding: 10px;
    background-color: white;
}


/* ANNOUNCEMENTS */

.announce {
    width: 100%;
    height: fit-content;
}

#subject {
    height: 50px !important;
    font-size: 16px;
}

#content {
    height: 80px;
    font-size: 16px;
}

.btn {
    width: 100px;
    height: 40px;
    font-size: 15px !important;
}

#check {
    width: 25px;
    height: 25px;
    margin: auto;
}

#check1 {
    width: 25px;
    height: 25px;
    margin: auto;
    background-color: red;
    border: 2px red;
    color: red !important;
}

#save {
    width: 30%;
    background-color: #114d4e !important;
    float: right !important;
    margin-right: 200px !important;
}

.mert {
    justify-content: space-between;
    width: 90%;
    overflow-y: scroll;
    display: flex;
}

#ggg {
    width: 20%;
}

.mert label {
    font-size: 18px !important;
    font-weight: 300;
}

.input-group {
    justify-content: space-between;
    display: flex !important;
}

.input-group .quantity-field {
    width: 10px !important;
}

.button-minus,
.button-plus {
    width: 40px !important;
}

@media only screen and (max-width: 486px) {
    .he {
        display: block;
        justify-content: space-between;
    }
    .he .adda {
        margin: auto;
        display: block;
        width: 100%;
    }
    .adda .button {
        float: left !important;
    }
    .ada h1 {
        font-size: 15px !important;
    }
    table th {
        font-size: 10px !important;
    }
    table td {
        font-size: 10px !important;
    }
    #idnumber {
        display: none !important;
    }
    td input {
        width: 16px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    .he {
        display: block;
        justify-content: space-between;
    }
    .he .adda {
        margin: auto;
        display: block;
        width: 100%;
    }
    .adda .button {
        float: left !important;
    }
    .ada h1 {
        font-size: 15px !important;
    }
    table th {
        font-size: 15px !important;
    }
    table td {
        font-size: 13px !important;
    }
    #idnumber {
        display: none !important;
    }
    td input {
        width: 19px !important;
    }
}