@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: #616161;
}

.count {
    color: rgb(185, 2, 2);
    font-size: 30px;
    float: right;
}

.heads .text i {
    vertical-align: middle;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh;
    padding: 18px; */
    height: auto;
}


/* own css */

.left {
    height: auto;
    padding: 10px;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

* table pagers */ div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #c00;
    height: auto;
}


/* EOF PAGER */