@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    justify-content: space-between;
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */

.left {
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.886), 0 6px 20px 0 rgba(94, 94, 94, 0.837);
    height: auto;
    font-size: 15px;
    padding: 10px;
    /* background-color: white; */
}

.tss {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
    padding-top: 20px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
    padding: 10px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tss {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.txt {
    float: left;
}

#sub {
    width: 60%;
}

.btn {
    float: right;
}

.title {
    font-size: 15px;
    font-weight: bolder;
}

.card p {
    font-size: 15px;
    color: rgb(0, 92, 0);
}

.card {
    background-color: rgb(255, 255, 255) !important;
    padding: 10px !important;
}

.card:hover {
    background-color: #d6d6d6 !important;
    cursor: pointer;
}

.multi {
    margin: auto;
    float: right !important;
    width: 90% !important;
    display: flex;
    justify-content: space-between !important;
}

@media (max-width: 480px) {
    .row {
        display: block !important;
    }
    .column {
        display: block !important;
        width: 100%;
    }
}

@media screen and (min-width:481px) and (max-width:720px) {
    .row {
        display: block !important;
    }
    .column {
        justify-content: space-between;
        display: flex !important;
        width: 100%;
        background-color: #1f3e8f;
    }
    .card {
        width: 100%;
        background-color: aqua !;
    }
}

@media screen and (min-width:721px) and (max-width:1000px) {
    .column {
        justify-content: space-between;
        display: flex !important;
        width: 100%;
        background-color: #1f3e8f;
    }
    .card {
        width: 30%;
        background-color: aqua;
    }
}