@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    justify-content: space-between;
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 18px;
    height: auto;
}


/* own css */

.overall {
    padding: 10px;
}

.left {
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.886), 0 6px 20px 0 rgba(94, 94, 94, 0.837);
    height: auto;
    font-size: 15px;
    padding: 10px;
    /* background-color: white; */
}

.column {
    float: left;
    width: 15%;
    padding: 5px;
    padding-top: 20px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
    padding: 10px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tss {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.txt {
    float: left;
}

.btn {
    float: right;
}

#ro_logo {
    width: 30px;
    margin: auto;
    font-size: 70px;
}

#calendar {
    font-size: 30px;
}

.title {
    font-size: 15px;
}

.card p {
    font-size: 15px;
    color: rgb(0, 92, 0);
}

#new {
    background-color: #78000a !important;
    color: white;
    height: 50px;
    padding: 5px;
    border-radius: 2px;
}


/* for modal only */

.modal-title {
    color: rgb(61, 61, 61);
    font-weight: bolder;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(42, 42, 42, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #F7F7F7 !important;
}

.multi {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

#sub {
    width: 70%;
    border: none;
    background-color: #212624 !important;
}

#del {
    background-color: #78000a!important;
    border: none;
}

@media only screen and (max-width: 486px) {
    .row {
        display: flex;
    }
    .column {
        width: 100%;
    }
    .multi {
        justify-content: space-between;
        display: block;
        width: 100%;
    }
    #sub {
        font-size: 10px !important;
        width: 100% !important;
    }
    #del {
        width: 100%;
        margin-top: 2px !important;
        margin: auto;
        display: flex;
        font-size: 10px !important;
        text-align: center;
    }
    #del i {
        text-align: center;
        margin: auto;
    }
    .txt #mega {
        font-size: 12px !important;
    }
    .tss button {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    .row {
        display: flex;
    }
    .column {
        width: 50%;
    }
    .multi {
        justify-content: space-between;
        display: block;
        width: 100%;
    }
    #sub {
        font-size: 10px !important;
        width: 100% !important;
    }
    #del {
        width: 100%;
        margin-top: 2px !important;
        margin: auto;
        display: flex;
        font-size: 10px !important;
        text-align: center;
    }
    #del i {
        text-align: center;
        margin: auto;
    }
    .txt #mega {
        font-size: 12px !important;
    }
    .tss button {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 721px) and (max-width: 1080px) {
    .row {
        display: flex;
    }
    .column {
        width: 30%;
    }
    .multi {
        justify-content: space-between;
        display: block;
        width: 100%;
    }
    #sub {
        font-size: 10px !important;
        width: 100% !important;
    }
    #del {
        width: 100%;
        margin-top: 2px !important;
        margin: auto;
        display: flex;
        font-size: 10px !important;
        text-align: center;
    }
    #del i {
        text-align: center;
        margin: auto;
    }
    .txt #mega {
        font-size: 12px !important;
    }
    .tss button {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 1081px) and (max-width: 1920px) {
    .row {
        display: flex;
    }
    .column {
        width: 15%;
    }
    .multi {
        justify-content: space-between;
        display: block;
        width: 100%;
    }
    #sub {
        font-size: 10px !important;
        width: 100% !important;
    }
    #del {
        width: 100%;
        margin-top: 2px !important;
        margin: auto;
        display: flex;
        font-size: 10px !important;
        text-align: center;
    }
    #del i {
        text-align: center;
        margin: auto;
    }
    .txt #mega {
        font-size: 12px !important;
    }
    .tss button {
        font-size: 12px !important;
    }
}