@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    /* background-image: url(../images/sd2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    justify-content: space-between;
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 18px;
}

.inners {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 70%;
    float: left;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgba(176, 176, 176, 0.516);
    border-radius: 5px;
}

.left2 {
    width: 40%;
    padding: 10px;
}

.left2 h2 {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}

.right2 {
    width: 55%;
    padding: 10px;
}

.form-group-sm {
    display: flex;
    justify-content: space-between;
}

.form-group-sm input {
    width: 60%;
}

.form-group-sm #labels {
    font-size: 13px;
    font-weight: bold;
}

.right {
    display: block;
    justify-content: space-between;
    padding: 30px;
    width: 25%;
    float: right;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgba(176, 176, 176, 0.516);
    border-radius: 5px;
}

.rapal {
    background-color: #F9690E;
    color: white;
}

.right3 {
    background-color: #ffffff;
}

.right3 h2 {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}

.right4 {
    color: #000000;
}

.form-group #open {
    color: rgb(0, 190, 0);
}

.form-group #term {
    color: rgb(0, 190, 0);
}

.form-group #closed {
    color: rgb(255, 0, 0);
}

.current {}

.current .form-group {
    display: flex;
    justify-content: space-between;
}

.current .lab {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.current .data {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
}

.down {}

.left22 {
    display: block;
    justify-content: space-between;
    padding: 30px;
    width: 70%;
    float: left;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgba(176, 176, 176, 0.516);
    border-radius: 5px;
}

.left22 h2 {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}