@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: #616161;
}

.heads .text i {
    vertical-align: middle;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}

.bg {
    width: auto;
    background-attachment: fixed;
    /* background-image: url(../images/tupc2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 18px;
}

.nav-item .nav-link {
    font-size: 20px;
    font-weight: bold;
}

.filters {
    padding-top: 20px;
    display: flex;
    height: 100px;
}

.filter_in {
    padding-top: 20px;
    width: 40%;
    display: flex;
}

.filter_in select {
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    width: auto;
}

.sear {
    padding-top: 20px;
    width: 60%;
    float: right;
}


/* .inners {
    background-color: #811616;
} */

.form-group {
    text-align: center;
}

.inners .card {
    width: 30%;
}

#current {
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.card {
    width: 100% !important;
    height: auto;
    background-color: #0069d9 !important;
}

@media screen and (min-width:360px)and (max-width:640px) {
    .add .btns {
        border-radius: 5px;
        padding: 10px;
        height: 50px;
        text-align: center !important;
        text-decoration: none !important;
        color: white;
        width: 70%;
        background-color: #0069d9;
        display: -webkit-box;
    }
    .add p {
        margin: auto;
        text-align: center;
        font-size: 12px;
    }
    .add i {
        font-size: 15px;
        vertical-align: middle;
    }
    .options {
        width: 30%;
    }
    .options #mylist {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    .details {
        background-color: #811616;
        padding: 5px;
        display: inline-block;
        justify-content: space-between;
        width: 100%;
    }
    .details p {
        font-weight: bolder;
        font-size: 20px;
        vertical-align: middle;
        color: white;
        text-align: center;
    }
    #myInput {
        border-radius: 5px;
        margin: auto;
        display: flex;
    }
}

@media screen and (min-width:1366px) and (max-width:1920px) {
    .home-section .text {
        /* background: #c51c39; */
        display: inline-block;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        margin: 18px
    }
}