<!DOCTYPE html>{% load static%}
<html lang="en">

<head>
    <link rel="icon" href="../../static/images/tup.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../static/css/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
    <title>signup</title>
    <!-- sweet alert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <link rel="stylesheet" href="../../static/admin_css/admin_nav.css">
    <script src="https://kit.fontawesome.com/3e1139830b.js" crossorigin="anonymous"></script>
</head>

<body>




    <!DOCTYPE html>{% load static%}
    <html lang="en">

    <head>
        <link rel="icon" href="../../static/images/tup.png">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../../static/css/signup.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <title>signup</title>
        <!-- sweet alert -->

    </head>

    <body>

        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            <div class="card card0 border-0" id="card0">
                <div class="row d-flex">
                    <div class="col-lg-6" id="col-lg">
                        <div class="card1 pb-5">
                            <div class="row" id="hea">
                                <a class="txt" href="/">
                                    <img src="../../../static/images/tup.png" class="logo">
                                </a>

                                <div class="tx">
                                    <h1>Technological University of the Philippines - Cavite</h1>

                                </div>

                            </div>
                            <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                                <img src="https://i.imgur.com/uNGdWHi.png" class="image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="loo">
                        <div class="card2 card border-0 px-4 py-5">
                            <div class="row mb-4 px-3">




                            </div>
                            <div class="container">
                                <h1>Reset your password</h1>
                                {% if validlink %}
                                <p>Please enter your new password twice:haha</p>
                                <form action="." method="post">
                                    {{ form.as_p }} {% csrf_token %}
                                    <p><input type="submit" value="Change my password" class="form-control" /></p>
                                </form>
                                {% else %}
                                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-blue py-4">
                    <div class="row px-3" id="ra">
                        <div class="social-contact ml-4 ml-sm-auto">
                            <small>Copyright &copy; 2022. All rights reserved.</small>
                            <h5><span id="fir">NS</span><span id="sec">TP</span></h5>
                        </div>



                    </div>
                </div>

            </div>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <!-- <script>
            {% for msg in messages %}
                Swal.fire({
                    icon: 'error',
                    text: '{{ msg }}'
                }) {% endfor %}
            </script>  -->

            {% comment %} {% for s in schools %} {% if s.years %} {% endcomment %}
            <script type="text/javascript">
                document.querySelector('.btn').onclick = function() {

                    var password = document.querySelector('.password1').value,
                        password2 = document.querySelector('.password2').value;

                    if (password == "") {
                        alert("Field cannot be empty");
                    } else if (password != password2) {
                        alert("Password didn't match try again.");
                        document.querySelector('.password1').value = '';
                        document.querySelector('.password2').value = '';

                        return false
                    }
                    return true
                }

                setTimeout(function() {
                    if ($('#msg').length > 0) {
                        $('#msg').remove();
                    }
                }, 3000)
            </script>








            <script></script>

            {% comment %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> {% endcomment %} {% comment %} {% for s in schools %} {% if s.years %} {% endcomment %}
            <script type="text/javascript">
                document.querySelector('.btn').onclick = function() {

                    var password = document.querySelector('.password1').value,
                        password2 = document.querySelector('.password2').value;

                    if (password == "") {
                        alert("Field cannot be empty");
                    } else if (password != password2) {
                        alert("Password didn't match try again.");
                        document.querySelector('.password1').value = '';
                        document.querySelector('.password2').value = '';

                        return false
                    }
                    return true
                }

                setTimeout(function() {
                    if ($('#msg').length > 0) {
                        $('#msg').remove();
                    }
                }, 3000)
            </script>
            {% comment %} {% else %} {% endif %} {% endfor %} {% endcomment %} {% for s in schools %} {% if s.years %} {% else %}
            <script type="text/javascript">
                $(window).on('load', function() {
                    $('#exampleModal').modal('show');
                });
            </script>
            {% endif %} {% endfor %}


            <script>
                let container = document.getElementById('container')

                toggle = () => {
                    container.classList.toggle('sign-in')
                    container.classList.toggle('sign-up')
                }

                setTimeout(() => {
                    container.classList.add('sign-in')
                }, 200)
            </script>

    </body>

    </html>