@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home-section {
    background: #c51c39;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}


/* own css */

.card-holder {
    background-image: url(../images/tupc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
}

.card {
    color: white;
    background: rgb(111, 111, 111) !important;
    margin: 18px !important;
    height: 250px;
    width: 30%;
}

.card-body {
    display: flex;
    width: 100%;
}

#profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    float: left;
}

.card-title {
    float: right !important;
    margin-top: 50px;
    margin-left: 50px;
}