* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    width: 100%;
    justify-content: space-between;
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */

.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}

.overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48), 0 6px 20px 0 rgba(94, 94, 94, 0.837);
    margin: 3px 0;
}

.overview-boxes .box-topic {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    width: 100%;
}

.overview-boxes #box {
    display: block;
}

.overview-boxes #box .eye {
    width: 100%;
    text-align: center;
}

#box #right-side #box {
    margin: auto;
    width: 60%;
    outline: none;
    border: none;
    cursor: pointer;
}

.overview-boxes #box .eye i {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #ccc391;
    line-height: 50px;
    text-align: center;
    color: #660f0f;
    border-radius: 12px;
    cursor: pointer;
}

#box #right-side #box button:hover {
    background-color: rgb(185, 38, 38);
    outline: none;
    border: none;
}

#box #right-side #box button:focus {
    background-color: rgb(185, 38, 38);
    outline: none;
    border: none;
}

.home-content .box .caption {
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 500;
    color: gray;
    font-style: italic;
}

.home-content .box .indicator {
    display: flex;
    align-items: center;
}

.home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.box .indicator i.down {
    background: #e87d88;
}

.home-content .box .indicator .text {
    font-size: 12px;
}

.home-content .box .color {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.home-content .box .color.two {
    color: #008822;
    background: #e9e9e9;
}

.home-content .box .color.XXX {
    color: #fa7000;
    background: #ffdede;
}

.home-content .box .color.three {
    color: #0ec7b4;
    background: #9ffcf3;
}

.home-content .box .color.four {
    color: #e05260;
    background: #f7d4d7;
}

.home-content .total-order {
    font-size: 20px;
    font-weight: 500;
}

.home-content .announce-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    /* padding: 0 20px; */
}


/* left box */

.home-content .announce-boxes .recent-announce {
    width: 65%;
    height: auto;
    border: solid 2px rgba(197, 197, 197, 0.74);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(94, 94, 94, 0.295);
}

.outer {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    max-height: 85vh;
    display: block;
    padding: 3px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.219), 0 6px 20px 0 rgba(94, 94, 94, 0.837);
}

.up {
    width: 100%;
    height: auto;
    display: flex;
}

.up .logs i {
    font-size: 30px;
    height: 50px;
    width: 50px;
    background: #ececec;
    text-align: center;
    color: #940000;
    border-radius: 12px;
    margin-top: 10px;
    padding: 8px;
}

.logs {
    width: auto;
}

.sub {
    padding: 10px;
    width: auto;
    display: block;
}

.sub #subject {
    font-weight: bold;
    font-size: 18px;
}

.down {
    background-color: #008822;
}

.down #subject2 {
    font-weight: bold;
    font-size: 22px;
    margin-left: 20px;
}

.sub #date {
    font-weight: 300;
    font-size: 17px;
}

.down h5 {
    margin-left: 20px;
    float: left;
}

.home-content .announce-boxes .announce-details {
    width: 100%;
    height: auto;
    max-height: 70vh;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.announce-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    font-weight: bold;
    color: rgb(51, 51, 51);
    /* margin-bottom: 10px; */
}

.announce-boxes .announce-details li.topic {
    font-size: 20px;
    font-weight: 500;
}

.announce-boxes .box .button a {
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.announce-boxes .box .button a:hover {
    background: #0d3073;
}


/* Right box */

.home-content .announce-boxes .recent-files {
    width: 30%;
    background: rgb(255, 255, 255);
}

.announce-boxes .recent-files {
    display: block;
}

.announce-boxes .recent-files h1,
h5 {
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.announce-boxes .recent-files li a img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
}

.announce-boxes .recent-files li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.announce-boxes .recent-files li .lesson,
.price {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}


/* Responsive Media Query */

@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.active {
        width: 220px;
    }
    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }
    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media (max-width: 1150px) {
    .home-content .announce-boxes {
        flex-direction: column;
    }
    .home-content .announce-boxes .box {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }
    .home-content .announce-boxes .recent-files {
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }
    .home-content .announce-boxes .announce-details {
        width: 560px;
    }
}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }
    .sidebar.active {
        width: 60px;
    }
    .home-section {
        width: 100%;
        left: 0;
    }
    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }
    .home-section nav {
        width: 100%;
        left: 0;
    }
    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
}

.custom-shape-divider-bottom-1669703185 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669703185 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 112px;
}

.custom-shape-divider-bottom-1669703185 .shape-fill {
    fill: #3D3B58;
}


/* modal */

.custom-shape-divider-top-1669719491 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669719491 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1669719491 .shape-fill {
    fill: #D9DEDF7A;
}

.modal-title {
    font-weight: bold;
    color: #d60303;
}


/* accordion */

.accordion {
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    justify-content: space-between;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion .up .headss {
    display: flex;
}

.up h5 {
    font-weight: bold;
    color: rgb(31, 31, 31);
}

.accordion .up .headss i {
    font-size: 30px;
    font-weight: bolder;
    color: #0b2935;
}

.accordion .up .headss .dts {
    display: block;
}

.dts h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 8pt;
}

.dts h4 {
    font-size: 14px;
    font-weight: 100;
}

#smalls {
    text-align: center;
    margin: auto;
    align-items: center !important;
    background-color: #008822;
}

.st {
    display: block;
    text-align: center;
}

.st #spresent i {
    color: #7ED321;
    font-size: 15px;
}

.st #sabsent i {
    color: #D0021B;
    font-size: 15px;
}