    .page {
        background-image: url(../images/tupc3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
    
    #tit {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .left {
        width: 50%;
        height: 100vh;
        float: left;
    }
    
    .right {
        width: 50%;
        height: 100vh;
        float: right;
        align-content: center;
    }
    
    .logo {
        margin-top: 180px;
        align-items: center;
    }
    
    .logo img {
        width: 200px;
        margin: auto;
        display: flex;
    }
    
    .text {
        margin: auto;
        align-items: center;
    }
    
    .text h1 {
        text-align: center;
        color: rgb(0, 0, 0);
    }
    
    .cont {
        margin: auto;
        width: 80%;
    }
    
    .container {
        margin: auto;
        padding: 10px;
        background-color: #ffffff;
        margin-top: 50px;
        border-radius: 10px;
    }
    
    .form-control {
        height: 25px !important;
        border: no;
        border-top-style: hidden !important;
        border-right-style: hidden !important;
        border-left-style: hidden !important;
    }
    
    .form-control:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    
    .form-group label {
        font-size: 12px;
    }
    
    #pass {
        display: flex;
        justify-content: space-between !important;
    }
    
    .btn {
        width: 100%;
    }
    
    #already {
        text-align: center;
    }