body {
    overflow-x: hidden !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to right bottom, #e5c0a070, #f0b8a285, #f8b2ab8f, #fbabbb80, #f5a8cf54);
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
}

.card2 {
    margin: 0px 40px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px;
}

.image {
    width: 360px;
    height: 280px;
}

.border-line {
    border-right: 1px solid #EEEEEE;
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#hea {
    display: flex;
}

#sub {
    width: 100%;
    display: flex !important;
}

#sub button {
    width: 50% !important;
    margin: auto;
}

.txt {
    margin-top: 20px !important;
    width: 100%;
    display: flex;
}

.txt .logo {
    margin: auto;
}

.tx {
    margin-top: 20px !important;
    margin: auto;
    width: 90%;
    display: flex !important;
}

.tx h1 {
    font-weight: bolder;
    margin: auto;
    font-size: 25px;
    text-align: center !important;
    color: rgba(0, 0, 0, 0.678);
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
}

.or {
    width: 10%;
    font-weight: bold;
}

.text-sm {
    font-size: 14px !important;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px;
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer;
}

.bg-blue {
    color: #fff;
    background-color: #2f4f52;
}

#sen {
    width: 100px;
}

#sub {
    width: 100%;
}

#sub #sub2 {
    width: 100% !important;
    display: flex;
}

#sub2 button {
    margin: auto;
}

#ssss {
    background-color: rgb(107, 19, 60) !important;
    border: none !important;
}

.form-control {
    border: no;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom: 1px solid rgba(99, 99, 99, 0.493) !important;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

#fir {
    font-size: 30px;
    font-weight: bolder;
    color: #e72604;
}

#sec {
    font-size: 30px;
    font-weight: bolder;
}

.social-contact {
    padding: 10px !important;
    margin: auto;
}

.social-contact small,
h5 {
    text-align: center;
}

.col label {
    color: #0000008f;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .container-fluid {
        overflow-x: hidden !important;
        padding-top: 20px !important;
    }
    #loo .row {
        display: block !important;
    }
    #con {
        width: 100% !important;
        margin: auto;
    }
    .image {
        display: none !important;
        ;
    }
    .border-line {
        border-right: none;
    }
    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 0px;
        margin-top: -90px !important;
    }
    #hea {
        display: block !important;
        width: 100%;
    }
    .txt {
        width: 100%;
        display: flex !important;
    }
    .txt .logo {
        height: 100px !important;
        margin: auto !important;
        margin-top: -60px !important;
    }
    .tx h1 {
        font-size: 19px !important;
        text-align: center;
        padding: 5px !important;
        font-weight: bolder !important;
    }
    #sub .col {
        display: flex !important;
    }
    #sub .col button {
        margin: auto;
    }
    .card2 {
        padding: 4px !important;
    }
    #sen {
        margin: auto;
    }
    .social-contact {
        padding: 10px !important;
        margin: auto;
    }
    .social-contact small,
    h5 {
        text-align: center;
    }
    body {
        padding: 10px !important;
    }
    #rw {
        font-size: 20px;
        color: #000;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #col-lg {
        padding-bottom: 0px !important;
        padding: 5px !important;
    }
}